
<main>
   
    <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2603.0779225125757!2d-123.07743898431092!3d49.27492067933056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486714000e7943b%3A0x66f2c88aa6d8504e!2s1441+Napier+St%2C+Vancouver%2C+BC+V5L!5e0!3m2!1sen!2sca!4v1471379288549" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Canadian Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Krishna Jolliffe - CEO</li>
                        <li><i class="icon-location contact"></i>1441 Napier St, Vancouver, BC V5L 2M6</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:krish@lifetechomes.com">krish@lifetechomes.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.298792173082!2d-58.366995048762114!3d-34.621888880358824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d1e89c3c73%3A0x459c88d8f5a950c1!2sAv.+Alicia+Moreau+de+Justo+1960%2C+C1107AFN+CABA%2C+Argentina!5e0!3m2!1sen!2sca!4v1467938248616" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>United States Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Mckinley Hlady - President</li>
                        <li><i class="icon-location contact"></i>15, Av. Alicia Moreau de Justo 1960, C1107AFN CABA, Argentina</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:mckinley@lifetechomes.com">mckinley@lifetechomes.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    

  </main>
