
<main>
   
       
    <section id="What's Happening">
        <div class="container">          
                    
          <div class="row inner-top-xs reset-xs">
            
            <div class="col-sm-8 inner-top-xs inner-bottom inner-right-xs">
                <div class="col-sm-12 center-block">
                    <div class="video-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.458141818174!2d-80.26081524890992!3d25.755426883559362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b7994a5e1631%3A0x72e2e7a0d0980573!2s1825+Ponce+De+Leon+Blvd+%23147%2C+Coral+Gables%2C+FL+33134!5e0!3m2!1sen!2sca!4v1449773786025" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-md-3 col-sm-6 inner">
                <h4>Miami Offices</h4>         
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> Suite 147, 1825 Ponce De Leon Blvd, Coral Gables, Florida 33134</li>
                        <li><i class="icon-mobile contact"></i> +1 (917) 830-5602</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:info@fortisg.com">info@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
    </section>

    <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.5409031580216!2d6.9870259517096125!3d52.21538997965838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8158b869a38cd%3A0x67391fbc460de36b!2sNiemaate+6%2C+48599+Gronau+(Westfalen)%2C+Germany!5e0!3m2!1sen!2sca!4v1449774905952" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                                </iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>European Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> Niemaate 6, D-48599 Gronau, Westfalen, Germany</li>         
                        <li><i class="icon-mobile contact"></i> +49(0)25-62 99 24-153</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:ec@fortisg.com">ec@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.0828806802742!2d-118.39687264877398!3d34.067389580506656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bbfe6a6e775d%3A0x22f2826836654657!2s9301+Wilshire+Blvd+%23216%2C+Beverly+Hills%2C+CA+90210%2C+USA!5e0!3m2!1sen!2sca!4v1467937454711" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Los Angeles Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Christian Michaels - Vice President Western US</li>
                        <li><i class="icon-location contact"></i>9301 Wilshire Blvd Suite # 216, Beverly Hills, CA 90210</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:cm@fortisg.com">cm@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.298792173082!2d-58.366995048762114!3d-34.621888880358824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d1e89c3c73%3A0x459c88d8f5a950c1!2sAv.+Alicia+Moreau+de+Justo+1960%2C+C1107AFN+CABA%2C+Argentina!5e0!3m2!1sen!2sca!4v1467938248616" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Argentina Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Santiago Carradori – Senior Vice President</li>
                        <li><i class="icon-location contact"></i>15, Av. Alicia Moreau de Justo 1960, C1107AFN CABA, Argentina</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:santiagoc@argasargentina.com.ar">santiagoc@argasargentina.com.ar</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.2930040143456!2d26.06780125147502!3d44.447662778999465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201fab7c5505b%3A0x738d452b7b9cd2cd!2sStrada+Elizeu+24%2C+Bucure%C8%99ti%2C+Romania!5e0!3m2!1sen!2sca!4v1467938422598" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Bucharest Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Lucian Pascu – Managing Partner</li>
                        <li><i class="icon-location contact"></i>Str. Elizeu nr.24, parter, ap.1,  sector 1, Bucharest, Romania</li>                       
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:novosat@clicknet.ro">novosat@clicknet.ro</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.0482479882453!2d29.154848951384192!3d40.91468797920891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac40c2ef67fb3%3A0xed0049e83b013027!2sCevizli%2C+K%C3%BCmbet+Sk.+No%3A3%2C+34846+Maltepe%2F%C4%B0stanbul%2C+Turkey!5e0!3m2!1sen!2sca!4v1467938655318" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Istanbul Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Ertan Bayar – Managing Partner</li>
                        <li><i class="icon-location contact"></i>Cevizli Mahallesi, Kümbet Sk No:3, 34846 Maltepe/İstanbul, Turkey</li>
                        <li><i class="icon-phone contact"></i>(90) 0.216.352 52 01</li>
                        <li><i class="icon-publish contact"></i>(90) 0.216.352 92 12</li>
                        <li><i class="icon-mobile contact"></i>(90) 0.530.291 42 61</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:eb@fortisg.com">eb@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.7736706254755!2d55.182030751058285!3d25.10952168385819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b9fc1160621%3A0x3d7bd1b84476f3af!2sPinnacle+Building!5e0!3m2!1sen!2sca!4v1467939468211" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Dubai Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Ertan Bayar – Managing Partner</li>
                        <li><i class="icon-location contact"></i> Pinnacle Building, No.206, Sheikh Zayed Road, Al Barsha, Dubai, UAE</li>
                         <li><i class="icon-mobile contact"></i>(90) 0.530.291 42 61</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:eb@fortisg.com">eb@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

       <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2603.0779225179363!2d-123.07744434839134!3d49.274920679228984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486714000e7943b%3A0x66f2c88aa6d8504e!2s1441+Napier+St%2C+Vancouver%2C+BC+V5L!5e0!3m2!1sen!2sca!4v1467939622076" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Vancouver Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Krishna Jolliffe - Director of Operations Canada</li>
                        <li><i class="icon-location contact"></i>1441 Napier Street, Vancouver, BC V5L 2M6</li>        
                        <li><i class="icon-mobile contact"></i>778-296-0478 </li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:kj@fortisg.com">kj@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.841772088763!2d-122.20779864843864!3d47.60976627908272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c7e2059790f%3A0xa9ec2ce63b454433!2s10047+Main+St%2C+Bellevue%2C+WA+98004%2C+USA!5e0!3m2!1sen!2sca!4v1467939997194" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Seattle Office</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Marilee Smith Fitch</li>
                        <li><i class="icon-location contact"></i>412 - 10047 main street, bellevue, washington, 98004</li>
                         <li><i class="icon-mobile contact"></i>425-260-4606</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:ms@fortisg.com">ms@fortisg.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

  </main>
