
<main>
   
    <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.956773198125!2d-123.02267008431333!3d49.201379579322534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548675e072b305b9%3A0x4aeddd87cd5365aa!2s3750+N+Fraser+Way%2C+Burnaby%2C+BC+V5J+5G1!5e0!3m2!1sen!2sca!4v1543435613915" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>Canadian Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Krishna Jolliffe - President & CEO</li>
                        <li><i class="icon-location contact"></i>
                        3750 North Fraser Way, Burnaby, BC V5J 5G1, Canada</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:info@lifetecgroup.ca">info@lifetecgroup.ca</a></li>
                        <li><i class="icon-phone-3 contact"></i><a>604.260.6303</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section class="What's Happening">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="row inner-top-xs reset-xs">            
                    <div class="col-sm-8 inner-top-xs inner-right-xs">
                        <div class="col-sm-12 center-block">
                            <div class="video-container">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172133.42628053154!2d-122.4759889231419!3d47.61476283373012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA%2C+USA!5e0!3m2!1sen!2sca!4v1471404245620" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->  
                <div class="col-md-3 col-sm-6 inner">
                    <h4>United States Headquarters</h4>         
                    <ul class="contacts">
                        <li><i class="icon-user contact"></i>Mckinley Hlady - CBDO</li>
                        <li><i class="icon-location contact"></i>Seattle, Washington, United States</li>
                        <li><i class="icon-mail-1 contact"></i><a href="mailto:mckinley@lifetechomes.com">mckinley@lifetecgroup.ca</a></li>
                        
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    

  </main>
