<main>

<!-- ============================================================= SECTION – FAQ ============================================================= -->
      
      <section id="faq" class="light-bg">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Questions?</h1>
                <p>We realize you must still have a lot of questions, so will do our best to address as many as we can below.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row">
          
            <div class="col-sm-8 center-block inner-top-sm">
              
              <h3>How long are the contracts?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
              <h3>Can i switch plans later?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
              <h3>What support options do i have?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
            </div><!-- /.col -->
          
            <div class="col-sm-8 center-block inner-top-sm">
              
              <h3>Is there a setup fee?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
              <h3>What types of payment methods are accepted?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
              <h3>Can i cancel my account at any time?</h3>
              <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
              
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – FAQ : END ============================================================= -->

</main>
