    <main>
      
      <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
    
      <section id="portfolio">
        
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>3 Columns grid portfolio</h1>
                <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        
        <div class="container inner-bottom">
          <div class="row">
            <div class="col-sm-12 portfolio">
              
              <ul class="filter text-center">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".structures">Structures</a></li>
                <li><a href="#" data-filter=".rederings">Renderings</a></li>
                <li><a href="#" data-filter=".manufacturing">Manufacturing</a></li>
                <li><a href="#" data-filter=".other">Other</a></li>
               
              </ul><!-- /.filter -->
              
              <ul class="items col-3">
                
                <li class="item thumb structures">
                    <a href="#demo1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/demo1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="#demo2" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/demo2.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Signwall</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work16.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Modern CD Case</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work18.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Astor & Yancy</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work09.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb photography">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Daydreaming</h4>
                          <p>Photography</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/photograph02.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Brand Stationery</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work08a.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Tri Fold Brochure</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work10.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb interactive">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Vintage Bicycles</h4>
                          <p>Interactive</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work03.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Electric Dance Book Cover</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work20.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Embroidered</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work05.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Brand Stationery</h4>
                          <p>Identity/Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work21.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Handmade Wood Gifts</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work17.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb identity">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Designer Brand</h4>
                          <p>Identity</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work19.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb print">
                  <a href="portfolio-post.html">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Vinyl Records</h4>
                          <p>Print</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/art/work07.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
              </ul><!-- /.items -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->

        <!-- ============================================================= SECTION – PORTFOLIO : Modal ============================================================= -->
      
      <!-- <section id="modal">

        <div class="modal fade" id="demo1" tabindex="-1" role="dialog" aria-labelledby="demo1" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
              <h4 class="modal-title" id="demo1">Demo Structure</h4>
            </div>

              <section id="portfolio-post">
                <div class="container inner-top-xs inner-bottom">
                  
                  <div class="row">
                    <div class="col-sm-12">
                     <figure>
                        <img  src="/assets/images/demo1.jpg" alt="">
                      </figure>
                    </div>
                  </div>
                </div>

         <div class="modal fade" id="demo2" tabindex="-1" role="dialog" aria-labelledby="demo2" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                  <h4 class="modal-title" id="demo2">Demo Structure</h4>
                </div>

                  <section id="portfolio-post">
                    <div class="container inner-top-xs inner-bottom">
                      
                      <div class="row">
                        <div class="col-sm-12">
                         <figure>
                            <img  src="/assets/images/demo2.jpg" alt="">
                          </figure>
                        </div>
                      </div>
                </div>
      </section> -->

       <!-- ============================================================= SECTION – PORTFOLIO : Modal END =================================================================== -->
      
      <!-- ============================================================= SECTION – SHARE ============================================================= -->
      
<!--       <section id="share" class="light-bg">
        <div class="container">
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Facebook</p>
              <i class="icon-s-facebook"></i>
              <p class="counter">1080</p>
            </a>
          </div>
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Twitter</p>
              <i class="icon-s-twitter"></i>
              <p class="counter">1263</p>
            </a>
          </div>
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Google +</p>
              <i class="icon-s-gplus"></i>
              <p class="counter">963</p>
            </a>
          </div>
          
        </div>
      </section> -->
      
      <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
      
    </main>