    <main>
      
      <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
    
      <section id="portfolio">
        
       <!--  <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>3 Columns grid portfolio</h1>
                <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
              </header>
            </div>
          </div>
        </div> -->
        
        <div class="container inner-xs">

          <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>LifeTec Gallery</h1>
              </header>
            </div>

        <div class="container inner-bottom">
          <div class="row">
            <div class="col-sm-12 portfolio">
              
              <ul class="filter text-center">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".structures">Structures</a></li>
                <li><a href="#" data-filter=".renderings">Renderings</a></li>
                <li><a href="#" data-filter=".printing">Printing</a></li>
                <li><a href="#" data-filter=".other">Other</a></li>
               
              </ul><!-- /.filter -->
              
              <ul class="items col-3">

                <li class="item thumb structures">
                  <a href="#demoroof" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/demoroof.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb structures">
                  <a href="#demoroof2" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/demoroof2.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
           
                <li class="item thumb structures">
                  <a href="#levelv" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/levelv.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
               <li class="item thumb structures">
                  <a href="#levelh" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/levelh.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                 <li class="item thumb renderings">
                  <a href="#render" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Custom Home, 1145 Bute Street, Victoria, BC</h4>
                          <p>Renderings</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/render.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                
                
                <li class="item thumb renderings">
                  <a href="#render2" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Custom Home, Port Kells, BC</h4>
                          <p>Renderings</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/render2.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                                 <li class="item thumb other">
                  <a href="#furniture" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Lobby Couches and Coffee Table Set</h4>
                          <p>Other</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/furniture.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                  <li class="item thumb other">
                  <a href="#table" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Board Room Table</h4>
                          <p>Other</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/table.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb other">
                  <a href="#machinetable" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Printer Runoff Table</h4>
                          <p>Other</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/machinetable.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb structures">
                    <a href="#demo1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/demo1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb structures">
                  <a href="#demo2" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div>
                      </figcaption>
                      <img src="assets/images/demo2.jpg" alt="">
                    </figure>
                  </a>
                </li>
                
                <li class="item thumb structures">
                  <a href="#demo3" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Demo Structure</h4>
                          <p>Structures</p>
                        </div>
                      </figcaption>
                      <img src="assets/images/demo3.jpg" alt="">
                    </figure>
                  </a>
                </li>

                 <li class="item thumb renderings">
                  <a href="#render3" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Duplex, Duncan, BC</h4>
                          <p>Renderings</p>
                        </div>
                      </figcaption>
                      <img class="border" src="assets/images/render3.jpg" alt="">
                    </figure>
                  </a>
                </li>
                
                <li class="item thumb renderings">
                  <a href="#commercial" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Commercial Facility, BC</h4>
                          <p>Renderings</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/commercial.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
                <li class="item thumb renderings">
                  <a href="#render4" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Custom Fireproof Shed, 8' x 12'</h4>
                          <p>Renderings</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/render4.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#coil" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Raw Steel Coil and Gantry System</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/coil.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#decoiler" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Automated Steel Decoiler</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/decoiler.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#machine1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>CNC Printer - Pre-Punch Tool Block Assembly</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/machine1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#machine2" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>CNC Printer - End of Roll Forming Assembly</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/machine2.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#machine3" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>CNC Printer - Lip Box & Pinch Roller Assemblies</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/machine3.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb printing">
                  <a href="#machine4" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>CNC Printer - Dimple Tools, Flange + Lip Over-Form, Ink Printer Heads, Swage and Shear Assemblies</h4>
                          <p>Printing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img class="border" src="assets/images/machine4.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb structures">
                  <a href="#warehouse1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Warehouse Demo Structure - Door Header & Web Joists</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/warehouse1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb structures">
                  <a href="#studs1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Dimples and pilot holes allow for screws to sit flush with flange</h4>
                          <p>Structures</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/studs1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb renderings">
                  <a href="#rendering1" data-toggle="modal">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Laneway Home, Vancouver, BC</h4>
                          <p>Renderings</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="assets/images/rendering1.jpg" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                                
              </ul><!-- /.items -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
      </section>
      
      <!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->

        <!-- ============================================================= SECTION – PORTFOLIO : Modal ============================================================= -->
      
      <section id="modal">

       <div class="modal fade" id="demo1" tabindex="-1" role="dialog" aria-labelledby="demo1" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
              <h4 class="modal-title" id="Demo1">Demo Structure</h4>
            </div>

              
                <div class="container inner-top-xs inner-bottom">
                  
                  <div class="row">
                    <div class="col-sm-12">
                     <figure>
                        <img  src="/assets/images/demo1.jpg" alt="">
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            

        <div class="modal fade" id="demo2" tabindex="-1" role="dialog" aria-labelledby="demo2" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="demo2">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/demo2.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="demo3" tabindex="-1" role="dialog" aria-labelledby="demo3" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="demo3">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/demo3.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="demoroof" tabindex="-1" role="dialog" aria-labelledby="demoroof" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="demoroof">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/demoroof.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="demoroof2" tabindex="-1" role="dialog" aria-labelledby="demoroof2" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="demoroof2">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/demoroof2.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="levelv" tabindex="-1" role="dialog" aria-labelledby="levelv" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="levelv">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/levelv.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="levelh" tabindex="-1" role="dialog" aria-labelledby="levelh" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="levelh">Demo Structure</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/levelh.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="render" tabindex="-1" role="dialog" aria-labelledby="render" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="render">Custom Home, 1145 Bute Street, Victoria, BC</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/render.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="render2" tabindex="-1" role="dialog" aria-labelledby="render2" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="render2">Custom Home, Port Kells, BC</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/render2.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="render3" tabindex="-1" role="dialog" aria-labelledby="render3" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="render3">Duplex, Duncan, BC</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/render3.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

          <div class="modal fade" id="commercial" tabindex="-1" role="dialog" aria-labelledby="commercial" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="commercial">Commercial Facility, BC</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/commercial.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="render4" tabindex="-1" role="dialog" aria-labelledby="render4" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="render4">Custom Fireproof Shed, 8' x 12'</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/render4.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="furniture" tabindex="-1" role="dialog" aria-labelledby="furniture" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="furniture">Lobby Couches and Coffee Table Set</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/furniture.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="table" tabindex="-1" role="dialog" aria-labelledby="table" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="table">Board Room Table</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/table.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="machinetable" tabindex="-1" role="dialog" aria-labelledby="machinetable" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="machinetable">Printer Runoff Table</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/machinetable.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="coil" tabindex="-1" role="dialog" aria-labelledby="coil" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="coil">Raw Steel Coil and Gantry System</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/coil.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="decoiler" tabindex="-1" role="dialog" aria-labelledby="decoiler" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="decoiler">Automated Steel Decoiler</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/decoiler.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="machine1" tabindex="-1" role="dialog" aria-labelledby="machine1" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="machine1">CNC Printer - Pre-Punch Tool Block Assembly</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/machine1.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="machine2" tabindex="-1" role="dialog" aria-labelledby="machine2" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="machine2">CNC Printer - End of Roll Forming Assembly</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/machine2.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="machine3" tabindex="-1" role="dialog" aria-labelledby="machine3" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="machine3">CNC Printer - Lip Box & Pinch Roller Assemblies</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/machine3.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

        <div class="modal fade" id="machine4" tabindex="-1" role="dialog" aria-labelledby="machine4" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="machine4">CNC Printer - Dimple Tools, Flange + Lip Over-Form, Ink Printer Heads, Swage and Shear Assemblies</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/machine4.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

         </div>

        <div class="modal fade" id="warehouse1" tabindex="-1" role="dialog" aria-labelledby="warehouse1" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="warehouse1">Warehouse Demo Structure - Door Header & Web Joists</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/warehouse1.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

         </div>

        <div class="modal fade" id="studs1" tabindex="-1" role="dialog" aria-labelledby="studs1" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="studs1">Dimples and pilot holes allow for screws to sit flush with flange</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/studs1.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>

         </div>

        <div class="modal fade" id="rendering1" tabindex="-1" role="dialog" aria-labelledby="rendering1" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
                <h4 class="modal-title" id="rendering1">Laneway Home, Vancouver, BC</h4></div>    
                  <div class="container inner-top-xs inner-bottom">
                    <div class="row">
                      <div class="col-sm-12">
                       <figure>
                          <img  src="/assets/images/rendering1.jpg" alt="">
                        </figure></div></div></div></div></div>
        </div>


      </section> -->

       <!-- ============================================================= SECTION – PORTFOLIO : Modal END =================================================================== -->
      
      <!-- ============================================================= SECTION – SHARE ============================================================= -->
      
<!--       <section id="share" class="light-bg">
        <div class="container">
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Facebook</p>
              <i class="icon-s-facebook"></i>
              <p class="counter">1080</p>
            </a>
          </div>
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Twitter</p>
              <i class="icon-s-twitter"></i>
              <p class="counter">1263</p>
            </a>
          </div>
          
          <div class="col-sm-4 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Google +</p>
              <i class="icon-s-gplus"></i>
              <p class="counter">963</p>
            </a>
          </div>
          
        </div>
      </section> -->
      
      <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
      
    </main>