    <main>
      
      <!-- ============================================================= SECTION – HERO ============================================================= -->
      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item" style="background-image: url(/assets/images/hp1.png);">
            <div class="container">
              <div class="caption vertical-center text-center">                
                <h1 class="fadeInDown-1 light-color">The science of sustainable integration</h1>
                <p class="fadeInDown-2 light-color"><b>PLARSS Sustainable Structures by LifeTec Homes.</b></p>
                <div class="fadeInDown-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp2.png);">
            <div class="container">
              <div class="caption vertical-center text-right">                
                <h1 class="fadeInLeft-1 light-color">Where</h1>
                <h1 class="fadeInLeft-1 light-color">East meets West</h1>
                <p class="fadeInLeft-2 light-color"><b>10 STAR RATED Functional Wellness Architecture.</b></p>
                <div class="fadeInLeft-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp3.png);">
            <div class="container">
              <div class="caption vertical-center text-left">                
                <h1 class="fadeInRight-1 light-color"><span>Net Zero</span></h1>
                <h1 class="fadeInRight-1 light-color"><span>Energy Structures</span></h1>
                <p class="fadeInRight-2 light-color"><b>Compartmentalized 3 Zone Living Design.<b></p>
                <div class="fadeInRight-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp4.png);">
            <div class="container">
              <div class="caption vertical-top text-right">                
                <h1 class="fadeIn-1 light-color">
                  <span>PLARSS Sustainable</span>
                    <span>Structures by</span>
                    <h1 class="fadeIn-1 light-color"><span>LifeTec Homes</span></h1>
                      <p class="fadeIn-2 light-color"><b>We harvest our water, reuse and recycle our waste, <br>grow our own food, produce our own energy and power our own vehicles.<b></p>
                    <div class="fadeIn-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
                   
        </div><!-- /.owl-carousel -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->
      
      <!-- ============================================================= SECTION – Mantra ================================================================= -->
  
      <section id="mantra" class="light-bg">
        <div class="container inner">
          
         <div class="row">
            <div class="col-md-10 col-sm-9 center-block text-center">
              <header>
                <h2>Profound - Living - Advances - Regenerative - Sustainable - Security</h2><br>
                <p><b>LifeTec Homes</b> is a vertically integrated building collective focused on developing high-tech sustainable structures and communities without compromising modern-day luxuries or conveniences.  LifeTec Homes is a strategic partner of Robert Plarr and the Xanadu Group; exclusively licensed to build and market PLARSS Sustainable Structures in Canada and the Northwest United States.</p>
              </header><br><br>
               <a href="contact" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->  

        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
      

      <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <section id="who-we-are">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row inner-top-sm-">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>PLARSS Sustainable Structures' Point-Of-Use Systems</h2><br>
              </header>
          </div>   


          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-air icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->            
          <div class="col-md-2 text-center img-rounded inner-bottom-xs">         
            <h2><br>Air</h2>
            <p class="text-small">Air is always Point-Of-Use every time we breath.<br><br>So, we filter and oxygenate ours with plants.<br><br>Plants provide massive increase in POU oxygen levels.<br><br> Oxygen levels in Green Healthy Homes are superior to common homes due to the indoor gardens and non toxic finishes.<br><br>Indoor air quality is one of the EPA’s top five environmental risks to public health.</p>         
          </div><!-- /.col -->
          
           <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-water icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
          <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Water</h2>
            <p class="text-small">Redundant water supply and storage systems.<br><br>Whole home filtration system create Alkaline and Acidic water supplied at Point Of Use (POU) filtration stations throughout the home.<br><br>Alkaline or mineralized water has highly beneficial health properties based on decades of studies.<br><br>Acidic water may also be used for home and body as a natural Biocide (Organic Pesticide) for the plants.</p>
          </div><!-- /.col -->
          
          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-battery icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
         <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Energy</h2>
            <p class="text-small">Clients can choose from a range of redundant power options catered to their environments and needs.<br><br>Standards include Solar and/or Wind with Advanced Battery backup.<br><br>Choices for upgrades may include such features as Geothermal, Biofuel Generator Back Up, Hydrogen Fuel Cells, On-Site Gasification, On-site Fueling and/or Charging Stations, and more.<br><br><br></p>
          </div><!-- /.col -->

          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-leaf-1 icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
           <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Food</h2>
            <p class="text-small">Essentially a Live-In Greenhouse designed to grow ornamental trees, edible, medicinal, aromatic and herbal plants.<br><br>Ingestible plants are grown in customizable, timer-controlled, drip-irrigated, high-density, vertical-growth arrangements.<br><br>Indoor Rainforests' create aesthetically appealing settings, superior air quality, and when maximized for food capacity, have monumental effects on personal and family dietary health.</p>
          </div><!-- /.col -->

          <div class="col-md-1">
        </div><!-- /.col -->        
            
        <div class="row inner-bottom-sm-">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <a href="plarrs" class="btn centered btn-large">Learn More</a>   
          </div>            
        <div class="col-md-1">         

      </section>

     
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
      
      
    
      
            
       <section id="overview"  class="light-bg">

        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>A History of Pioneering Sustainability</h2>
            </header>
            <body>
              <p>LifeTec Homes' partner Robert Plarr is the visionary innovator of the Science of Sustainable Integration. Since the 1970′s, Robert Plarr has been a famed environmental pioneer, visionary, entrepreneur, and a lightning rod in the SUSTAINABLE and GREEN movement. Robert is a man of action, a former Recon Marine, athlete and fitness teacher.</p>

              <p> In 1975, Plarr built a 45,000 watt wind-turbine and an earth sheltered passive-solar experimental home. Inside the amusement park, he implemented one of the world’s largest windmills, built an Energy and Sustainable Educational Center, and hosted the “World’s First Inland Surfing Championship” inside a wave pool.</p> 

              <p>In the early 2000's in Taos New Mexico Plarr built a 5,000 sq ft underground solar green home, and then an 11,000 sq. ft totally off grid, waste and water recycling, hydrogen / solar / wind powered wellness retreat, and green technology incubator. Plarr has been featured in print, radio, talk shows, CBS, ABC, NBC, and World News stations.</p>
          </body>
          <br><br>

        <div class="row">
            
            <div class="col-sm-6">
              <figure>          
                 <img src="/assets/images/coaster.png" alt="">
              </figure>
            </div><!-- /.col -->
            
           <div class="col-sm-6 ">
              <figure>          
                 <img src="/assets/images/nest2.png" alt="">
              </figure>
            </div><!-- /.col -->       

        </div><!-- /.row -->

          <br><br>

         <a href="plarr" class="btn btn-large">Learn More about Robert Plarr</a>

       

        </div>
      </section>





      <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
      
      <section id="get-in-touch">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Second Nature Estates</h1>
                <p>Lifetec's development of an exlusive 4 home net-zero gated community in the British Properties, West Vancouver will set a new standard for no-compromise sustainable high-tech luxury living. A 9,000+ sf smart home featuring the PLARSS systems will be avaible for viewing by summer 2017. Please contact us for more information.</p>
              </header>
              <a href="contact" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
      
    </main>