    <main>
      
      <!-- ============================================================= SECTION – HERO ============================================================= -->
      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item" style="background-image: url(/assets/images/hp10.jpg);">
            <div class="container">
              <div class="caption vertical-center text-center">                
               <!--  <h1 class="fadeInDown-1 light-color">The Future of</h1>  -->
                 <h1 class="fadeInDown-1 light-color">High Performance</h1> 
                  <h1 class="fadeInDown-1 light-color">Sustainable Structures</span></h1> 
                <p class="fadeInDown-2 light-color"><b>The world's most advanced end to end steel building design and construction technology.</b></p>
                <div class="fadeInDown-3">
                  <a href="#mantra" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp8.jpg);">
            <div class="container">
              <div class="caption vertical-center text-right">                
                <h1 class="fadeInLeft-1 light-color">The</h1>
                <h1 class="fadeInLeft-1 light-color">FRAMECAD® System</h1>
                <p class="fadeInLeft-2 light-color"><b>the fastest and most efficient way to design and build strong, durable steel framed buildings.</b></p>
                <div class="fadeInLeft-3">
                  <a href="#mantra" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp11.jpg);">
            <div class="container">
              <div class="caption vertical-center text-left">                
                <h1 class="fadeInRight-1 light-color">A Better</h1>
                <h1 class="fadeInRight-1 light-color">Way to Build</h1>
                <p class="fadeInRight-2 light-color"><b>Light gauge steel structures are stronger, straighter, more accurate, assemble faster and can now be supplied and installed by LifeTec for the same cost as traditional lumber framing.<b></p>
                <div class="fadeInRight-3">
                  <a href="#mantra" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp9.jpg);">
            <div class="container">
              <div class="caption vertical-center text-right">                
                <h1 class="fadeIn-1 light-color"><br><br>
                Light Gauge Steel</h1>
                   <h1 class="fadeIn-1 light-color">Gives You Options
                    <p class="fadeIn-2 light-color"><b>From residential, to light commerical, to midrise multi-unit construction, LifeTec will show you how to save time and money with our highly efficient building methodologies.<b></p>
                    <div class="fadeIn-3">
                  <a href="#mantra" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
                   
        </div><!-- /.owl-carousel -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->
      
      <section class="light-bg">
        <div class="container">
            <div class="container inner-top-xs inner-bottom">        
                <div class="col-md-6 col-sm-12 inner">
              <figure>          
                 <img src="/assets/images/nf1.jpg" alt="">
              </figure>
         
                </div><!-- /.col --> 
                <div class="col-md-6 col-sm-12 inner">
                    <h2>WE HAVE MOVED!</h2> 
                    <H3>Still under renovations, but we are settling into our new 45k square home in South Burnaby nicely. </H3>    
                    <H3>With 2 new Framecad CNC machines, we can now frame mutli-family buildings up to 10 levels. Open for tours Mondays through Fridays, so come by and check us out.</H3>

                    <ul class="contacts">
                       
                        <li><i class="icon-location contact"></i><a href="https://www.google.ca/maps/place/3750+N+Fraser+Way,+Burnaby,+BC+V5J+5G1/data=!4m2!3m1!1s0x548675e072b305b9:0x4aeddd87cd5365aa?ved=2ahUKEwjk6sywkYffAhXvIjQIHSwmB3MQ8gEwAHoECAAQAQ" target="_blank">
                        3750 North Fraser Way, Burnaby, BC V5J 5G1, Canada</a></li>
                        
                        <li><i class="icon-phone-3 contact"></i>604.260.6303</li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    







    <!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
      
      <section id="portfolio-post">
        <div class="container inner-top inner-bottom">
          
          <div class="row">
            <div class="col-sm-12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/260580960" width="640" height="360" frameborder="0"></iframe>
                <p><a href="https://vimeo.com/260580960">CTV Vancouver News at 6 Clip - LifeTec Construction Group - Thursday March 15, 2018</a> from <a href="https://vimeo.com/lifetec">LifeTec Homes</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
         
          
        </div><!-- /.container -->
        
      </section>
      
      <!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
      <!-- ============================================================= SECTION – Mantra ================================================================= -->
  
      <section id="mantra" class="light-bg">
        <div class="container inner-top text-center inner-bottom">
           <header>
            <h1>LifeTec Construction Group</h1>
            </header>
          
         <div class="row">
            <div class="col-md-10 col-sm-9 center-block text-center">
              <header>
                <!-- <h2><span style="color: #00d44f">P</span>rofound - <span style="color: #00d44f">L</span>iving - <span style="color: #00d44f">A</span>dvances - <span style="color: #00d44f">R</span>egenerative - <span style="color: #00d44f">S</span>ustainable - <span style="color: #00d44f">S</span>ecurity</h2><br> -->
                <p>LifeTec Construction Group is the first organization to introduce FRAMECAD 3D printed steel framing technologies to Western Canada and the Pacific Northwest. As the Key Partner for the region, LifeTec is able to leverage the experience of a partner network spanning 680 manufacturing facilities, in more than 66 countries worldwide.</p>
                <p>Utilizing the world's most advanced steel printing software and CNC machinery, LifeTec renders, prints and assembles light gauge steel structures within an installed dimensional tolerance of 0.5mm (1/64 of an inch). As 90% of our design and build methodologies are front-loaded before any materials ever reach a building site, LifeTec's system is more sustainable, efficient, stronger and accurate, while still providing the best value over all traditional options.</p>

              </header><br><br>
               <a href="contact" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->  

        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
    
            
       <section id="overview"  

        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h1>The FRAMECAD System</h1>
            </header>
            
              <p>FRAMECAD is an advanced, end-to-end design and build system enabling the rapid construction of quality buildings for businesses, governments and communities worldwide.</p>

              <p>FRAMECAD is dedicated to providing a complete design and build system that is innovative, cost-effective, suitable for residential and commercial construction, and fast to construct within developed and developing markets worldwide. The company stands behind the quality and reliability of the FRAMECAD System products and services. All this is backed by the in-depth knowledge and rapid response of a multi-lingual, global customer support team.</p> 

              <p>The FRAMECAD System is a modern method of rapid, quality construction using light-gauge steel framing. An end-to-end design and build solution, the FRAMECAD System is designed to suit a wide range of projects that demand the rapid delivery of quality buildings. To achieve this, FRAMECAD has established a reputation as a global innovator in building design, software programming, detailing, engineering, manufacturing and delivery. The business has local teams on the ground in the Americas, Asia, New Zealand, Australia and the Pacific, the Middle East and Africa.</p>
       
          <br><br>

        <div class="row">
            
            <div class="col-sm-6">
              <figure>          
                 <img src="/assets/images/fc1.jpg" alt="">
              </figure>
            </div><!-- /.col -->
            
           <div class="col-sm-6 ">
              <figure>          
                 <img src="/assets/images/fc2.jpg" alt="">
              </figure>
            </div><!-- /.col -->       

        </div><!-- /.row -->

          <br><br>

         <a href="steel" target="_blank" class="btn btn-large">Learn More</a>

       

        </div>
      </section>

       <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <!-- <section id="Chart" class="light-bg"> 
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Benefits of Wood vs Steel</h2>
          </header>                      
          <div class="row">
             <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/steelvswood.jpg" alt="">
              </figure>
              <h5>Image from frametechsystems.com</h5>
          </div>
        </div>
      </section> -->

     
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->





      <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
      
      <section id="get-in-touch" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>LifeTec High Performance Sustainable Structures</h2>
                <p>LifeTec is currently taking orders for construction starts in residential, mid-rise, multi-unit, and high-rise infill framing projects. Turnover can be in as little as 8 weeks. Please get in touch to arrange a commitment-free consultation and learn how we can build you a superior product, while saving you time, money and headache.</p>
              </header>
              <a href="contact" class="btn btn-large">Get in Touch With Us</a>
            </div>
          </div>
        </div>
      </section>
      
      <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
       <section id="Accredditations">
        <div class="container inner-xs">
             <div class="row">

            
            <div class="col-sm-10 center-block">
              <figure>          
                 <img src="/assets/images/all2.jpg" alt="">
              </figure>
            </div>
            </div><!-- /.col -->
            
          <!--  <div class="col-sm-6 ">
              <figure>          
                 <img src="/assets/images/nest2.png" alt="">
              </figure>
            </div>     -->

        </div><!-- /.row -->
            </section>


      <!-- ============================================================= SECTION – SHARE ============================================================= -->
<!--       
      <section id="share" class="light-bg">
        <div class="container">
          
          <div class="col-sm-3 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Facebook</p>
              <i class="icon-s-facebook"></i>
              
            </a>
          </div>
          
          <div class="col-sm-3 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">Instagram</p>
              <i class="icon-s-instagram"></i>
           
            </a>
          </div>
          
          <div class="col-sm-3 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">LinkedIn</p>
              <i class="icon-s-linkedin-2"></i>
            
            </a>
          </div>

          <div class="col-sm-3 reset-padding">
            <a href="#" class="btn-share-md">
              <p class="name">YouTube</p>
              <i class="icon-s-youtube"></i>
              
            </a>
          </div>
          
        </div>
      </section> -->
      
      <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
      <!-- ============================================================= GOOGLE ANALYTICS : START   ============================================================= -->


      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83020115-1', 'auto');
        ga('send', 'pageview');

      </script>   

      <!-- ============================================================= GOOGLE ANALYTICS : END ============================================================= -->

        
    </main>