    <main>
      
      <!-- ============================================================= SECTION – HERO ============================================================= -->
      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item" style="background-image: url(/assets/images/hp1.png);">
            <div class="container">
              <div class="caption vertical-center text-center">                
                <h1 class="fadeInDown-1 light-color">The science of sustainable integration</h1>
                <p class="fadeInDown-2 light-color"><b>PLARSS Sustainable Structures by Fortis.</b></p>
                <div class="fadeInDown-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp2.png);">
            <div class="container">
              <div class="caption vertical-center text-right">                
                <h1 class="fadeInLeft-1 light-color">Where</h1>
                <h1 class="fadeInLeft-1 light-color">East meets West</h1>
                <p class="fadeInLeft-2 light-color"><b>10 STAR RATED Functional Wellness Architecture.</b></p>
                <div class="fadeInLeft-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp3.png);">
            <div class="container">
              <div class="caption vertical-center text-left">                
                <h1 class="fadeInRight-1 light-color"><span>Net Zero</span></h1>
                <h1 class="fadeInRight-1 light-color"><span>Energy Structures</span></h1>
                <p class="fadeInRight-2 light-color"><b>Compartmentalized 3 Zone Living Design.<b></p>
                <div class="fadeInRight-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item" style="background-image: url(/assets/images/hp4.png);">
            <div class="container">
              <div class="caption vertical-top text-right">                
                <h1 class="fadeIn-1 light-color">
                  <span>Plarss Sustainable Structures</span></h1>
                    <h1 class="fadeIn-1 light-color"><span>by Fortis</span></h1>
                      <p class="fadeIn-2 light-color"><b>We harvest our water, reuse and recycle our waste, <br>grow our own food, produce our own energy and power our own vehicles.<b></p>
                    <div class="fadeIn-3">
                  <a href="#" class="btn btn-large">Learn More</a>
                </div><!-- /.fadeIn -->                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
                   
        </div><!-- /.owl-carousel -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->
      
      <!-- ============================================================= SECTION – Mantra ================================================================= -->
  
      <section id="mantra" class="light-bg">
        <div class="container inner">
          
         <div class="row">
            <div class="col-md-10 col-sm-9 center-block text-center">
              <header>
                <h2>Profound - Living - Advances - Regenerative - Sustainable - Security</h2><br>
                <p><b>Fortis Groep</b> is a vertically integrated leader in real estate, infrastructure and sustainable energy development; operating in 15 countries world-wide, with an excellent track record of past and current project volume in excess of $8.6 billion USD.</p>
              </header><br><br>
              <a href="story" class="btn btn-large">Our Story</a>
            </div><!-- /.col -->
          </div><!-- /.row -->  

        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
      

      <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <section id="who-we-are" class="dark-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row inner-top-sm-">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>PLARSS Sustainable Structures' Point-Of-Use Systems</h2><br>
              </header>
          </div>   


          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-air icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->            
          <div class="col-md-2 text-center img-rounded inner-bottom-xs">         
            <h2><br>Air</h2>
            <p class="text-small">Air is always Point-Of-Use every time we breath.<br><br>So, we filter and oxygenate ours with plants.<br><br>Plants provide massive increase in POU oxygen levels.<br><br> Oxygen levels in Green Healthy Homes are superior to common homes due to the indoor gardens and non toxic finishes.<br><br>Indoor air quality is one of the EPA’s top five environmental risks to public health.</p>         
          </div><!-- /.col -->
          
           <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-water icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
          <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Water</h2>
            <p class="text-small">Redundant water supply and storage systems.<br><br>Whole home filtration system create Alkaline and Acidic water supplied at Point Of Use (POU) filtration stations throughout the home.<br><br>Alkaline or mineralized water has highly beneficial health properties based on decades of studies.<br><br>Acidic water may also be used for home and body as a natural Biocide (Organic Pesticide) for the plants.</p>
          </div><!-- /.col -->
          
          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-battery icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
         <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Energy</h2>
            <p class="text-small">Builders may choose from a range of redundant power options catered to their environments and needs.<br><br>Standards include Solar and/or Wind with Advanced Battery backup.<br><br>Choices for upgrades may include such features as Geothermal, Biofuel Generator Back Up, Hydrogen Fuel Cells, On-Site Gasification, On-site Fueling and/or Charging Stations, and more.<br><br><br></p>
          </div><!-- /.col -->

          <div class="col-md-1">
            <div class="icon pull-right">
              <i class="icon-leaf-1 icn"></i>
            </div><!-- /.icon -->
          </div><!-- /.col -->        
           <div class="col-md-2 text-center img-rounded inner-bottom-xs">
            <h2><br>Food</h2>
            <p class="text-small">Essentially a Live-In Greenhouse designed to grow ornamental trees, edible, medicinal, aromatic and herbal plants.<br><br>Ingestible plants are grown in customizable, timer-controlled, drip-irrigated, high-density, vertical-growth arrangements.<br><br>Indoor Rainforests' create aesthetically appealing settings, superior air quality, and when maximized for food capacity, have monumental effects on personal and family dietary health.</p>
          </div><!-- /.col -->

          <div class="col-md-1">
        </div><!-- /.col -->        
            
        <div class="row inner-bottom-sm-">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <a href="plarrs" class="btn centered btn-large">Learn More</a>   
          </div>            
        <div class="col-md-1">         

      </section>

     
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
      
      <!-- ============================================================= SECTION – What's Happening ============================================================= -->
      
      <section id="What's Happening" class="light-bg">
        <div class="container">
          <div class="container inner-top-xs inner-bottom">
          
                    
          <div class="row inner-top-xs reset-xs">
            
            <div class="col-sm-7 inner-top-xs inner-right-xs">
               <div class="col-sm-10 center-block">
              <div class="video-container">
               <iframe src="https://player.vimeo.com/video/148255548?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"></iframe>
              </div>
            </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-sm-4  outer-top-xs inner-left-xs border-left">
              <h3>Sustainable Structures and Fortis Groep</h3>
              <p>As of June 20, 2015 we proudly announce that Fortis Groep NV and all its subsidiaries and affiliates will only develop sustainable structures, net-zero homes and buildings. The implementation of the program will affect world-wide operations.</p>
              <a href="story" class="txt-btn">More news</a>
            </div><!-- /.col -->            
          
          </div><!-- /.row -->          
        </div><!-- /.container -->        
      </section>
      
      
      <!-- ============================================================= SECTION – What's Happening : END ============================================================= -->
      
       <section id="who-we-are" class="dark-bg">
        <div class="container inner-top-sm inner-bottom-sm">
          
          <div class="row inner-top-sm-">
           
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>Financial Partners</h2><br>
              </header>
            </div>
            
            <div class="col-md-3">           
              <a href="https://www.aig.com"><img src="/assets/images/aig.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4">           
              <a href="https://www.natixis.com/natixis/jcms/j_6/en/home"><img src="/assets/images/natixis.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4">           
              <a href="https://www.allianz.com"><img src="/assets/images/allianz.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4">           
              <a href="http://www.ing.com/en.htm"><img src="/assets/images/ing.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3">           
              <a href=""><img src="/assets/images/ns.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4">           
              <a href="http://www.smbctb.co.jp/en/"><img src="/assets/images/smbc.png" alt=""></a>
            </div><!-- /.col -->           
          </div><br>

          <div class="row inner-top-sm-">          
            
            <div class="col-md-3">           
              <a href="https://us.axa.com/home.html"><img src="/assets/images/axa.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-5">           
              <a href="https://www.zurich.com/"><img src="/assets/images/zurich.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3">           
              <a href="http://www.intesasanpaolo.com/"><img src="/assets/images/intesa.png" alt=""></a>
            </div><!-- /.col -->
          </div><br>      

            <div class="col-md-3">           
                <a href="https://www.banquedeluxembourg.com/en/bank/corporate/homepage"><img src="/assets/images/lux.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-6">           
              <a href="http://www.swissre.com/"><img src="/assets/images/swiss.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3">           
              <a href="http://www.munichre.com/en/homepage/index.html"><img src="/assets/images/munich.png" alt=""></a>
            </div>

          </div>
      </section>

      <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
    
      <section id="latest-works"  class="light-bg">
        <div class="container inner">

        
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>Some of Our Favourite Projects</h2>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
         
          <div class="row">
            
            <div class="col-sm-6 inner-top-sm">
              <figure>
              
               <div class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/oceana02.png" alt=""></a>
                </div><!-- /.icon-overlay -->

                
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h3><a href="projects">Dukes Oceana Dubai</a></h3>
                  </div><!-- /.info -->
                </figcaption>
                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-6 inner-top-sm">
              <figure>
              
                <div class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/barwa.png" alt=""></a>
                </div><!-- /.icon-overlay -->
                
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h3><a href="projects">Barwar Financial District Qatar</a></h3>
                  </div><!-- /.info -->
                </figcaption>
                
              </figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
          <div class="row inner-top-sm">
            <div id="owl-latest-works" class="owl-carousel owl-item-gap">
              
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Deep Water Port El Palenque</h4>
                        
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/palenque.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Fairmont Jumeriah Dubai</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/jumeriah.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
                                      
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Reem Island Abu Dhabi</h4>
                       
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/reem.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
               <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Sustainable Affordable Housing Haiti</h4>
                        <p>Providing needed relief in Haiti while still maintaining a revenue component. </p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/haiti.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Sustainable affordable 1,800 unit housing project for Ministry of Defense Uruguay</h4>
                     
                      </div><!-- /.info -->
                    </figcaption>
                      <img src="/assets/images/uraguay.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Golden Mile Palm Jumeriah</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/golden_mile.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Municipal Solid Waste Processing Plant Buenos Aires</h4>
                       
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/buenas.png" alt="">
                  </figure>
                </a>
               </div><!-- /.item -->
                 
                <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Multiple Luxury Homes: Florida</h4>
                        <p>Coral Gables, Pinecrest, South Miami, Palmetto Bay</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/luxury.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
                       
            </div><!-- /.owl-carousel -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
            
       <section id="overview">

        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>A History of Pioneering Sustainability</h2>
            </header>
            <body>
              <p>Fortis Groep partner Robert Plarr is the visionary innovator of the Science of Sustainable Integration. Since 1975 Plarr has funded, built, lived in & tested 100's of green technologies. Including his 200 acre amusement park in Allentown Pennsylvania, with 2 lakes & 4 small dams testing hydro power + wind turbines which powered the roller coaster, energy teaching centre, health and wellness restaurant, 20,000 sq ft Ballroom, and sustainable expo centre. He also planted a tree farm for alternative biofuels. In the early 2000's in Taos New Mexico Plarr built a 5,000 sq ft underground solar green home, & an 11,000 sq. ft totally off grid, waste and water recycling, hydrogen / solar / wind powered wellness retreat, and technology incubator.</p>
          </body>
          <br><br>

        <div class="row">
            
            <div class="col-sm-6">
              <figure>          
                 <img src="/assets/images/coaster.png" alt="">
              </figure>
            </div><!-- /.col -->
            
           <div class="col-sm-6 ">
              <figure>          
                 <img src="/assets/images/nest2.png" alt="">
              </figure>
            </div><!-- /.col -->       

        </div><!-- /.row -->

         <!--  <br><br>

         <a href="plarrs#plarr" class="txt-btn">Learn More about Robert Plarr</a>
 -->
       

        </div>
      </section>





      <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
      
      <section id="get-in-touch" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to Know More?</h1>
                <p>The Rollout of Sustainable Homes and Communities in 2016 represents a new segment and focus in Fortis Groep’s Portfolio. Fortis Groep is fully dedicated to creating and providing the most Advanced Sustainable Healthy Buildings and Communities available. Please contact us for more information.</p>
              </header>
              <a href="contact" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
      
    </main>