<main>

  <section id="who-we-are">
        <div class="container inner-top-sm inner-bottom-sm">
          
          <div class="row inner-top-sm-9">
           
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Partners</h1><br>
              </header>
            </div>

            <div class="row inner-top-sm-9"> 
            
              <div class="col-md-5 text-center">           
                <a href="https://www.xanaduhs.com" target="_blank"><img src="/assets/images/xanadu.png" alt=""></a>
              </div><!-- /.col -->

              <div class="col-md-4 text-center">           
                <a href="https://www.aecom.com" target="_blank"><img src="/assets/images/aecom.png" alt=""></a>
              </div><!-- /.col -->

              <div class="col-md-3 text-center">           
                <a href="http://blurealty.com" target="_blank"><img src="/assets/images/blu.png" alt=""></a>
              </div><!-- /.col -->

            </div><br>

            <div class="row inner-top-sm-9"> 

            <div class="col-md-5 text-center">           
              <a href="https://framecad.com/en/home" target="_blank"><img src="/assets/images/framecad.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4 text-center">           
              <a href="http://magobp.com/" target="_blank"><img src="/assets/images/mago.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3 text-center">           
              <a href="https://www.tesla.com/en_CA/energy" target="_blank"><img src="/assets/images/tesla.png" alt=""></a>
            </div><!-- /.col -->           
          </div><br>

          <div class="row inner-top-sm-9">          
            
            <div class="col-md-3 text-center">           
              <a href="http://www.sothebysrealty.com" target="_blank"><img src="/assets/images/southeby.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-5 text-center">           
              <a href="https://www.unicosystem.com" target="_blank"><img src="/assets/images/unico.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3 text-center">           
              <a href="http://www.apple.com/ca/ios/homekit/" target="_blank"><img src="/assets/images/apple.png" alt=""></a>
            </div><!-- /.col -->
          </div><br><br>

          <div class="row inner-top-sm-9">          
            
            <div class="col-md-4 text-center">           
              <a href="http://www.sonos.com" target="_blank"><img src="/assets/images/sonos.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-3 text-center">           
              <a href="http://www.towergarden.ca/tg" target="_blank"><img src="/assets/images/tower.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-4 text-center">           
              <a href="https://www.ecobee.com/" target="_blank"><img src="/assets/images/ecobee.png" alt=""></a>
            </div><!-- /.col -->
          </div><br><br>      

          <div class="row inner-top-sm-9">          
            
            <div class="col-md-4 text-center">           
              <a href="http://www.solarcity.com/" target="_blank"><img src="/assets/images/solar.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-6 text-center">           
              <a href="http://www.schlage.com/en/home/keyless-deadbolt-locks/sense.html" target="_blank"><img src="/assets/images/schlage.png" alt=""></a>
            </div><!-- /.col -->

            <div class="col-md-2 text-center">           
              <a href="http://www2.meethue.com/en-ca/" target="_blank"><img src="/assets/images/philips.png" alt=""></a>
            </div><!-- /.col -->
          </div><br>      

            
          </div>
      </section>
 
    <!-- <section id="Partners" class="light-bg">
        <div class="container">
          <div class="container inner-top-xs inner-bottom">
          
                    
         <div class="col-sm-12 inner-top-xs inner-right-xs">
            <header class="border-bottom">
              <h1><center>Building Parnters</center></h1>          
              <h3>Fortis Groep has teamed up with select business partners in various industries to provide the best possible service.</h3>
              <p class="text-normal">Our business partners include:</p>
              <ul class="circled"> 
                <li>Gabriel Raicu - CUB Architecture - <a href="http://www.cubarhitect.ro/" target="_blank"><b>www.cubarhitect.ro</b></a></li>   
                <li>Juan C David, Architect, LEED AP Green Building Consultant</li>
                <li>Stanley Sarmiento, General Contractor Real Estate and infrastructure projects</li>
                <li>Christian Jasserand, Civil Engineer in charge of Brazilian Project</li>
              </ul><br><br>
            </header><br><br>

            <header class="border-bottom">
              <h1><center>Consulting Alliances</center></h1>          
              <h3>In addition to the partners above, Fortis Groep﻿ has joined forces with several exclusive consulting partners to expand our expertise and be able to handle a wide range of global issues.</h3>
               <p class="text-normal">Our consulting partners include:</p>
               <ul class="circled">             
                  <li>Phi-Cubed - Exclusive partners for Building Information Modeling</li>
                  <li>Geosocial Consulting Group, Rosi Jacques, ISO certificates</li>
               </ul><br><br>
            </header><br><br>

            <header>
              <h1><center>Professional Memberships</center></h1>       
              <h3>There are a number of watchdog agencies and interest groups working to ensure that our work adheres to strict industry standards. Our membership guarantees the best possible results for your business.</h3>
              <p class="text-normal">Fortis Group is proud to have member(s)  of the following organizations:</p>
              <ul class="circled">             
                  <li>International Green Energy Counsel</li>
                  <li>American Planning Association (APA)</li>
                  <li>National Trust for Historic Preservation</li>
                  <li>Preservation Institute of the Caribbean (PIC)</li>
                  <li>Rotary Club International</li>
                  <li>Realtor Association of Miami</li>
                  <li>National Association of Realtors</li>
                  <li>Ordem dos Advogados do Brasil, RJ</li>
              </ul>
            </header>
          </div>
   
        </div>       
      </section> -->

 <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
      
      <section id="get-in-touch" class="light-bg">
        <div class="container inner-sm">
          <div class="row">
            <div class="col-sm-10 center-block text-center">
              <h1 class="single-block">Want to work with us? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>