   
    <main>   
      
      <section id="team" class="light-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-10 center-block text-center">
              <header>
                <h1>The Key People that Make it Happen</h1>               
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">

         
          <div class="col-sm-6 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/krish.jpg" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Krishna Jolliffe
                    <span>Founder & President</span>
                  </h2>                           
                  <blockquote>Over twenty years Business Development experience in the Construction, Real Estate, Marketing and Tech industries. Krishna holds a BCom in Entrepreneurial Management from the Eric C. Douglas Center for Entrepreneurial Studies at Royal Roads University.</blockquote>                       
                </figcaption>
              </figure>
            </div><!-- /.col -->   

             <div class="col-sm-6 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/robs.jpg" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Robert St-Aubin
                    <span>Chief Executive Officer</span>
                  </h2>                  
                  <blockquote>A results-focused professional with a significant record of achievement in IT Integration & interfaces, quantitative
                  analysis and optimizing operational processes. Robert holds a PhD in Computer Science from the University of British Columbia.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->

          </div>

             <div class="row text-center">
            
            <div class="col-sm-6 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/mckinley.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  McKinley Hlady
                    <span>Co-Founder & Chief Business Development Officer</span>
                  </h2>                  
                  <blockquote>Twenty-five year history working in facets of Media, Real Estate, and Oil industries. With a new focus purely on sustainable energy project developments, McKinley brings his intense passion, work ethic, and vast network of personal and professional relationships to the LifeTec team.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/jesse.jpg" class="img-circle"></a>
                </div>               
                <figcaption>                
                  <h2>
                    Jesse Goldman
                    <span>Chief Operating Officer</span>
                  </h2>                  
                  <blockquote>Jesse has been actively working in the construction industry for more than 15 years. Jesse’s high acumen for building methodologies, strong leadership, and problem solving skills are invaluable in overseeing all teams for manufacturing and onsite assembly.</blockquote>                       
                </figcaption>
              </figure>
            </div>
    
          </div><!-- /.row -->
          
       
            
           
            </div>

          <!--  <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/jodi.png" class="img-circle"></a>
                </div>               
                <figcaption>                
                  <h2>
                    Jodi Godwin
                    <span>Financial Consultant / Controller</span>
                  </h2>                  
                  <blockquote>four years of public practice experience servicing both public and private companies in a variety of capacities, before moving into the startup space as a Financial Manager / Controller for a company focussed on sustainable energy and carbon credits. Jodi holds a Bachelor of Commerce from the University of Northern Britsh Columbia and a Chartered Accountant designation from the CA School of Business.</blockquote>                       
                </figcaption>
              </figure>
            </div> -->
             
             <!-- <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/robert.png" class="img-circle"></a>
                </div>                
                <figcaption>                
                  <h2>
                    Robert Plarr
                    <span>Sustainability Consultant</span>
                  </h2>                  
                  <blockquote>Fifty years of funding, building, researching, and living in fully sustainable structures. Before co-owning the world's first green amusement and water parks, Robert served in the elite 3rd Marine Recon Unit. Throughout his career, Robert has become one of the world's most respected pioneers in the sustainable movement, working with scientists world-wide to create the Science of Sustainable Integration PLARSS living green structure systems.</blockquote>
                </figcaption>                
              </figure>
            </div>    -->

            </div>
            
           

           <!--  <div class="row text-center"> -->
            
            <!-- <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/robert.png" class="img-circle"></a>
                </div>               
                <figcaption>                
                  <h2>
                    Robert Plarr
                    <span>Senior Consultant - Sustainable Systems</span>
                  </h2>                  
                  <blockquote>Fifty years of funding, building, researching, and living in fully sustainable structures. Co-owner of worlds first green amusement park and water park. After serving over 1 million customers per year, sold for $48 Million in 1992. Inventor of the Science of Sustainable Integration P.l.A.R.S.S. living green structure systems. Mr Plarr joined the Marines in 1969 & served in the elite unit third Marine recon.</blockquote>
                </figcaption>                
              </figure>
            </div>         -->    

             <!-- <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/karie.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <!-- <figcaption>                
                  <h2>
                    Karie Simmons
                    <span>Director of Sales</span>
                  </h2>                  
                  <blockquote>Sixteen plus years experience in Real Estate Investment. Former VP and owner of America One Finance; a mortgage company with 40 branches and over 2,500 loan officers. Previous to that, Karie ran a multi million-dollar import / export company throughout multiple countries. Karie has built a vast network of powerful personal relationships based on strong trust, spirituality, and respect. She leads with a passion for people, positive movements and our planet.</blockquote>                       
                </figcaption>
              </figure>
            </div> -->
        
            <!-- 
             <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/adam.png" class="img-circle"></a>
                </div>              
                <figcaption>                
                  <h2>
                    Adam Good
                    <span>Senior Consultant - Sustainable Systems & Structures</span>
                  </h2>                  
                  <blockquote>Twenty years of hands on experience in research, engineering, construction and implementation of sustainable systems.</blockquote>                       
                </figcaption>
              </figure>
            </div>   -->
            
           
           <!--  </div>
            </div> -->

            
          
      </section>
     
    </main>
    
 