 <header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@fortisg.com</a></li>
            </ul>
           
                       
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="home"><img src="/assets/images/Fortis_LOGO1.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
          </div><!-- /.container -->
        </div><!-- /.navbar-header -->
        
        <div class="yamm">
          <div class="navbar-collapse collapse">
             <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
              <a class="navbar-brand" href="home"><img src="/assets/images/Fortis_LOGO1.svg" class="logo" alt=""></a>
                <div>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
                  <ul class="nav navbar-nav">                
                    <li class="dropdown">
                      <a href="plarrs" class="dropdown-toggle js-activated disabled">Sustainable Structures</a>              
                    </li><!-- /.dropdown -->
                                
                    <li class="dropdown">
                      <a href="story" class="dropdown-toggle js-activated disabled">Our Story</a>                
                    </li><!-- /.dropdown -->
                                
                    <li class="dropdown">
                      <a href="services" class="dropdown-toggle js-activated disabled">Our Services</a>
                    </li><!-- /.dropdown -->


                    <li class="dropdown">
                      <a href="team" class="dropdown-toggle js-activated disabled">Our Team</a>
                    </li><!-- /.dropdown -->
                    
                    <li class="dropdown">
                      <a href="projects" class="dropdown-toggle js-activated disabled">Our Projects</a>
                    </li><!-- /.dropdown -->
                    
                    <li class="dropdown">
                      <a href="partners" class="dropdown-toggle js-activated disabled">Our Partners</a>
                    </li><!-- /.dropdown -->                
               
                    <li class="dropdown">
                        <a href="contact" class="dropdown-toggle js-activated disabled">Contact Us</a>
                    </li>
              
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
               

              <!-- ============================================================= SUB NAVIGATION : START ============================================================= --> 

                   <div class="center-block">
                      <ul class="nav navbar-nav center-block" >   

                      <li class="dropdown">
                          <a href="#table" class="dropdown-toggle js-activated disabled scroll-to" data-anchor-offset="0">The Models</a>
                          <ul class="dropdown-menu">
                               <li><a href="#casita" class="scroll-to" data-anchor-offset="0">The Wave</a></li>
                              <li><a href="#stealth" class="scroll-to" data-anchor-offset="0">The Accel</a></li>
                              <li><a href="#lincoln" class="scroll-to" data-anchor-offset="0">The Crossway</a></li>
                              <li><a href="#nashville" class="scroll-to" data-anchor-offset="0">The Rise</a></li>
                              <li><a href="#marvins" class="scroll-to" data-anchor-offset="0">The Clarity</a></li>
                              <li><a href="#gables" class="scroll-to" data-anchor-offset="0">The Vision</a></li>
                              <li><a href="#edge" class="scroll-to" data-anchor-offset="0">The Edge</a></li>
                              <li><a href="#plexus" class="scroll-to" data-anchor-offset="0">The Endure</a></li>                   
                           </ul>
                        </li>

                        <li class="dropdown">
                          <a href="#chart" class="dropdown-toggle js-activated disabled scroll-to" data-anchor-offset="0">The Core Systems</a>
                           <ul class="dropdown-menu">
                             <li><a href="#chart" class="scroll-to" data-anchor-offset="0">Overview</a></li>
                            <li><a href="#3zone" class="scroll-to" data-anchor-offset="0">Compartmentalized 3 Zone Design</a></li>
                             <li><a href="#efficiency" class="scroll-to" data-anchor-offset="0">Expanded Building Efficiency Systems</a></li><li><a href="#pos" class="scroll-to" data-anchor-offset="0">Primary Point of Use Systems</a></li>
                            <!--  </a></li><li><a href="#food" class="scroll-to" data-anchor-offset="0">Indoor Food Growth Systems</a></li> -->
                             <li><a href="#rain" class="scroll-to" data-anchor-offset="0">Indoor Rainforest Water Recycling Systems</a></li>
                             <li><a href="#plants" class="scroll-to" data-anchor-offset="0">NASA Proven Air Purifying Plants</a></li>
                          </ul>
                        </li><!-- /.dropdown -->  

                         <li class="dropdown">
                          <a href="#materials" class="dropdown-toggle js-activated disabled scroll-to" data-anchor-offset="0">The Structural Components</a>
                             <ul class="dropdown-menu">
                             <li><a href="#materials" class="scroll-to" data-anchor-offset="0">Primary Materials</a></li>
                            <li><a href="#components" class="scroll-to" data-anchor-offset="0">Key Components</a></li>
                             <li><a href="#appliances" class="scroll-to" data-anchor-offset="0">Energy Efficient Appliances</a></li><li>
                          </ul>
                        </li><!-- /.dropdown -->


                        <li class="dropdown">
                          <a href="#plarr" class="scroll-to" data-anchor-offset="0">Robert Plarr</a>              
                        </li><!-- /.dropdown -->
                                
                        <li class="dropdown">
                          <a href="#overview" class="scroll-to" data-anchor-offset="0">The Evolution</a>                
                        </li><!-- /.dropdown -->   

                         
                
                       
                
               
                        

                        <!-- <li class="dropdown">
                          <a href="#downloads" class="scroll-to" data-anchor-offset="0">Downloads</a>                
                        </li> -->

                    </div>

            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>    

  <main>

  <section id="table" class="light-bg">
        <div class="container inner-top text-center inner-bottom">   
          <header>
          <h2>Preview of Fortis Groep’s Sustainable Homes 2016 Contemporary-Modern Portfolio</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>               
                <table class="table text-center">
                    <thead>
                      <tr>
                        <th><center>Model</center></th>
                        <th><center>Living Space (sf)</center></th>
                        <th><center>Green Area (sf)</center></th>
                        <th><center>Tech Area (sf)</center></th>
                        <th><center>Total (sf)</center></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="#casita" class="scroll-to" data-anchor-offset="0">The Wave</a>
                        </td>
                        <td>595 + 230 Loft</td>
                        <td>180</td>
                        <td>100</td>
                        <td>1,105</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#stealth" class="scroll-to" data-anchor-offset="0">The Accel</a>
                        </td>
                        <td>1,000</td>
                        <td>335</td>
                        <td>125</td>
                        <td>1,460</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#lincoln" class="scroll-to" data-anchor-offset="0">The Crossway</a>
                        </td>
                        <td>1,600</td>
                        <td>484</td>
                        <td>165</td>
                        <td>2,249</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#nashville" class="scroll-to" data-anchor-offset="0">The Rise</a>
                        </td>
                        <td>2,200</td>
                        <td>656</td>
                        <td>240</td>
                        <td>3,096</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#marvins" class="scroll-to" data-anchor-offset="0">The Clarity</a>
                        </td>
                        <td>2,200</td>
                        <td>656</td>
                        <td>240</td>
                        <td>3,096</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#gables" class="scroll-to" data-anchor-offset="0">The Vision</a>
                        </td>
                        <td>3,200</td>
                        <td>785</td>
                        <td>335</td>
                        <td>4,320</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#edge" class="scroll-to" data-anchor-offset="0">The Edge</a>
                        </td>
                        <td>5,500</td>
                        <td>857</td>
                        <td>450</td>
                        <td>6,807</td>
                      </tr>
                      <tr>
                        <td>
                          <a href="#plexus" class="scroll-to" data-anchor-offset="0">The Endure</a>
                        </td>
                        <td>5,500</td>
                        <td>857</td>
                        <td>450</td>
                        <td>6,807</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p>Renderings represent the design of Advanced- Tech Garden Communities that Fortis and partners are unveiling in 2016. Fortis designs and integrates a variety of Sustainable Systems into a full range of home styles. Pre-Designed Model Portfolio with full range of styles will be released in Spring 2016, customized design services are available now.</p><br>
                <p>Full brochures and floor plans of individual models available on request.</p>

              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="casita">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Wave"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">             
              <figure>
                <img class="border" src="/assets/images/wave.png" alt="">
              </figure>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="stealth" class="light-bg">
         <div class="container inner-top text-center inner-bottom">   
            <header>
              <h2>"The Accel"</h2>
            </header>                      
            <div class="row">
              <div class="col-sm-12 inner-top-xs">
                <figure>
                 <img class="border" src="/assets/images/stealth.png" alt="">
                </figure>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

     <section id="lincoln">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Crossway"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">             
              <figure>
                <img class="border" src="/assets/images/crossway.png" alt="">
              </figure>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="nashville" class="light-bg">
        <div class="container inner-top text-center inner-bottom">   
          <header>
             <h2>"The Rise"</h2>
          </header>                      
          <div class="row">
             <div class="col-sm-12 inner-top-xs">
                <figure>
                  <img class="border" src="/assets/images/rise.png" alt="">
                </figure>
              </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

      <section id="marvins">
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Clarity"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">             
              <figure>
                <img class="border" src="/assets/images/clarity.png" alt="">
              </figure>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="gables" class="light-bg">
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Vision"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/vision.png" alt="">
              </figure>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

      <section id="edge">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Edge"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">             
              <figure>
                <img class="border" src="/assets/images/edge.png" alt="">
              </figure>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="plexus" class="light-bg">
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>"The Endure"</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/endure.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div>
      </section>

      <!-- <section id="downloads">
        <div class="container inner-top text-center inner-bottom">            
          <h2>Downloads</h2>                         
            <div class="row">
              <div class="col-sm-12 inner-top-xs">
                <figure>
                  <a target="_blank" href="https://drive.google.com/open?id=0B339AKHPm7gwYUZNMjN0NmZJOFhRdGNaYzNrU1pZN3ZHbGcw">Fortis Brochure - California Dream House - 9mb</a>                     
                </figure>
              </div>
           </div>
        </div>
      </section> -->
    
     <section id="chart">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Plarss Sustainable Structures Overview</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/house_chart.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="3zone">
        <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Compartmentalized 3 Zone Design</h2>
          </header>                      
          <div class="row">
             <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/3zone.png" alt="">
              </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

      <section id="efficiency">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Expanded Building Efficiency Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/efficiency.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="pos">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Primary Point of Use Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/pos.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

       <!-- <section id="food">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Indoor Food Growth Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/drip.png" alt="">
              </figure>
            </div>
          </div>
      </section> -->

      <section id="rain">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Indoor Rainforest Water Recycling Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/rain.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="plants">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>NASA Proven Air Purifying Plants</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/plants.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

       <section id="materials">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Primary Structural Materials</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/features.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="components">
       <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Key Structural Components</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/components.png" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="appliances">
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Energy Efficient Appliances</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/appliances.png" alt="">
              </figure>
            </div><!-- /.col -->
        </div><!-- /.row -->
      </section>


    <section id="plarr" class="light-bg">

      <div class="container">
        <div class="container inner-top-xs inner-bottom">
        
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
             <h2>Robert Plarr - Sustainability Pioneer</h2>
            </header>
          </div>          
                    
          <div class="row  reset-xs">      

            <div class="col-sm-6 inner-top-xs inner-right-xs">
              <div class="col-sm-12 center-block">
                <div class="video-container inner-top-xs"><br>
                  <iframe src="https://player.vimeo.com/video/148246586?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"></iframe>
                </div>             
              </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-sm-6 outer-top-xs inner-left-xs border-left">           
              <p>Robert Plarr has been building, researching and promoting sustainable & renewable technologies since the 1970's. He has been a famed environmental pioneer, visionary, entrepreneur, and a lightning rod in the SUSTAINABLE and GREEN movements. Robert is a man of action, a former Recon Marine, athlete and fitness teacher.
              In 1975, Plarr built a 45,000 watt wind-turbine and an earth sheltered passive-solar experimental home. Inside his amusement park, he implemented the world’s largest private windmill to drive the rollercoaster. Plarr has been featured in print, radio, talk shows, CBS, ABC, NBC, and World News stations.
              </p>
              <p>The adjacent video showcase his life's work, in 2002, where he integrated the most advanced sustainable technologies at the time to create one of the world's first completely off-grid self-sustaining homes. 
              </p>
            </div><!-- /.col --> 

          </div><!-- /.row -->          
        </div><!-- /.container -->

      </section>

      <section id="overview">

        <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Dorney Park Allentown PA, 1975 - 1979</h2><br>
              <p>Between 1975 and 1979, Robert Plarr built 3 seperate wind turbines, inlcuding 225KW turbine which powered a rollercoaster at his family's amusement park. Additionally, he built an earth sheltered passive-solar experimental home, an Energy and Sustainable Educational Center, and hosted the "World’s First Inland Surfing Championship" inside a wave pool.  
              </p>
          </header>

        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/1970.png" alt="">
            </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="container inner-top text-center inner-bottom-1">   
          <header>
            <h2>Robert Plarr's Angel's Nest - Taos NM, 2002</h2>
            <br>
            <p>Concieved and built by Robert Plarr, the Angel’s Nest was an innovative sustainable energy demonstration showcase and incubator. It incorporated wind and solar power, a renewable hydrogen fueling station, and integrated greenhouses in a unique closed loop, grid-independent energy and water replenishment cycle system.
            </p>
          </header>                
        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/nest.png" alt="">
            </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Plarr and Fortis Merge - Miami, 2015</h2>
            <br>
            <p>In May of 2015 Robert Plarr joined Fortis to direct a world-wide effort in sustainability-focused communities and homes. In June, Fortis then proudly announced that its world-wide operations will now only develop sustainable structures, and net-zero homes and buildings. 
            </p>
          </header>                
        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/miami.png" alt="">
            </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->

      </section>

      <section id="get-in-touch" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to Know More?</h1>
                <p>The Rollout of Sustainable Homes and Communities in 2016 represents a new segment and focus in Fortis Groep’s Portfolio. Fortis Groep is fully dedicated to creating and providing the most Advanced Sustainable Healthy Buildings and Communities available. Please contact us for more information.</p>
              </header>
              <a href="contact.html" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
   
      
     

      
             
 </main>
    

