
<main>
   


    <section id="plarr" class="light-bg">

      <div class="container">
        <div class="container inner-top inner-bottom">
        
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
             <h1>Robert Plarr - Sustainability Pioneer</h1>
            </header>
          </div>          
                    
          <div class="row  reset-xs">      

            <div class="col-sm-6 inner-top-xs inner-right-xs">
              <div class="col-sm-12 center-block">
                <div class="video-container inner-top-xs"><br>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/IGPQesAFxxo" frameborder="0" ></iframe>
                </div>             
              </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-sm-6 outer-top-xs inner-left-xs border-left">           
              <p>Robert Plarr has been building, researching and promoting sustainable & renewable technologies since the 1970's. He has been a famed environmental pioneer, visionary, entrepreneur, and a lightning rod in the SUSTAINABLE and GREEN movements. Robert is a man of action, a former Recon Marine, athlete and fitness teacher.
              In 1975, Plarr built a 45,000 watt wind-turbine and an earth sheltered passive-solar experimental home. Inside his amusement park, he implemented the world’s largest private windmill to drive the rollercoaster. Plarr has been featured in print, radio, talk shows, CBS, ABC, NBC, and World News stations.
              </p>
              <p>The adjacent video showcase his life's work, in 2002, where he integrated the most advanced sustainable technologies at the time to create one of the world's first completely off-grid self-sustaining homes. 
              </p>
            </div><!-- /.col --> 

          </div><!-- /.row -->          
        </div><!-- /.container -->

      </section>

      <section id="overview">

        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Dorney Park Allentown PA, 1975 - 1979</h2><br>
              <p>Between 1975 and 1979, Robert Plarr built 3 seperate wind turbines, inlcuding 225KW turbine which powered a rollercoaster at his family's amusement park. Additionally, he built an earth sheltered passive-solar experimental home, an Energy and Sustainable Educational Center, and hosted the "World’s First Inland Surfing Championship" inside a wave pool.  
              </p>
          </header>

        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/1970.png" alt="">
            </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="container inner-top text-center">   
          <header>
            <h2>Robert Plarr's Angel's Nest - Taos NM, 2002</h2>
            <br>
            <p>Concieved and built by Robert Plarr, the Angel’s Nest was an innovative sustainable energy demonstration showcase and incubator. It incorporated wind and solar power, a renewable hydrogen fueling station, and integrated greenhouses in a unique closed loop, grid-independent energy and water replenishment cycle system.
            </p>
          </header>                
        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/nest.png" alt="">
            </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Plarr and Fortis Merge - Miami, 2015</h2>
            <br>
            <p>In May of 2015 Robert Plarr joined Fortis to direct a world-wide effort in sustainability-focused communities and homes. In June, Fortis then proudly announced that its world-wide operations will now only develop sustainable structures, and net-zero homes and buildings. 
            </p>
          </header>                
        <div class="row">
          <div class="col-sm-12 inner-top-xs">
            <figure>
              <img class="border" src="/assets/images/miami.png" alt="">
            </figure>
          </div>
        </div> -->

      </section>

      <section id="get-in-touch" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to Know More?</h1>
                <p>The Rollout of Sustainable Homes and Communities in 2017 represents a new segment and focus for Lifetec Homes. Utilizing decades of experience in sustainable structures and living, Lifetec Homes is fully dedicated to creating and providing the most advanced healthy buildings and communities available. Please contact us for more information.</p>
              </header>
              <a href="contact.html" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
 
  </main>
          

        
