    <!-- ============================================================= MAIN ============================================================= -->
    
    <main>
      
      <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
    
      <section id="portfolio">
        
        <br><br>
        <div class="caption vertical-center text-center">
            <h1>Some of Our Favourite Projects</h1>   
            <h3>All projects are crafted to perfection, from the pen to the last detail on the wall</h3>  
            <br>
        </div><!-- /.container -->
        
        <div class="container inner-bottom">
          <div class="row">
            <div class="col-md-12 portfolio">
              
              <ul class="filter text-center">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".complete">Complete</a></li>
                <li><a href="#" data-filter=".current">Current</a></li>               
              </ul><!-- /.filter -->
              
              <ul class="items col-3">
                
                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Dukes Oceana, Dubai</h4>
                          <p class="text-normal"><b>Project:</b>Luxury condominiums, 806 Units, Seven tides Luxurious apartments and penthouses, Themed restaurants and bars, Large lagoon–shaped swimming pools, Various sports facilities, Extensive health & spa-club</p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Marketing & sales, Architecture & design, International Operator Tendering, Financing and Construction</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/oceana02.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->
                
               <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Barwar Financial District, Qatar</h4>
                          <p class="text-normal"><b>Project:</b>5star Business/Hotel complex, 35 story building, high-tech design, 300 high luxury rooms and suites, 70 executive apartments (1, 2 or 3 BR), Various fine dining and casual dining option,  Prestige  shopping arcade, food court, Entertainment areas, World-class, health-spa center, Convention Center </p>
                          <p class="text-normal"><b>Services:</b>Feasibility study﻿, Space and function program, External/internal  infrastructure, Quality standard, Hotel operator research, Hotel management contracts, Investor consulting service in all hotel-related issues, Tender int. hotel-management companies</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/barwa.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>410 Evernia, Palm Beach</h4>
                          <p class="text-normal"><b>Project:</b>232 Residential, U nits,  7,800 sq.ft. Commercial space, Wellness centre, Pool/Jacuzzi, Billiard Room, Conference Room, Business Centre, Parking, Additional Storage</p>
                          <p class="text-normal"><b>Services:</b>Equity Investment, Financial Engineering, Architectural master plan</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/evernia.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->      

                <li class="item thumb current">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Deep Water Port, El Palenque</h4>
                          <p class="text-normal"><b>Project:</b>Full port facilities on more than 8,500 acres of land and 1,450 acres port basin, Container Terminal, Solid and Liquid Waste Processing Plant, Offices 350,000 sqare feet, 24,500 work force housing units</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Feasibility study, Project Financing, Contract Management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/palenque.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Fairmont Jumeriah, Dubai</h4>
                          <p class="text-normal"><b>Project:</b>5-star resort hotel- 400 Units</p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Marketing & sales, Architecture & design, International operator tendering, Hotel contract management, Financing, Center-management, Construction</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/jumeriah.png" alt="">
                  </figure>
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb current">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Sustainable Affordable Housing - Ministry of Defense, Uruguay</h4>
                          <p class="text-normal"><b>Project:</b>1,800 unit- Affordable Housing Units, Recreational Facilities, Commuinty Center, Green Project</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Feasibility study</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/uraguay.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Reem Island, Abu Dhabi</h4>
                          <p class="text-normal"><b>Project:</b> Exclusive villas, townhouses, apartments,   marinas, Restaurants, bars, Resort hotels, Alternative energy plant (sun – wind – hydrogen), Alternative energy powered transportation, Recycling plant, waste management</p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Pre-Development Project management, Architectural master-plan, Holistic development, Hotel/resort real estate contracts, International marketing,  Tender of hotel management companies,  Internal & external infrastructure, Centre management, Entire project financing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/reem.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb current">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Municipal Solid Waste Processing Plant, Buenos Aires</h4>
                          <p class="text-normal"><b>Project:</b>1,800 tons per day processing capacity, 52-56 MWh Electric Energy generation, Zero Reziduu to Landfill, Existing Lanfill Remediation</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Engineering Services, Feasibility study, Project Financing, Exit Strategy</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/buenas.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Golden Mile, Palm Jumeriah</h4>
                          <p class="text-normal"><b>Project:</b>10 waterfront residential buildings, 45 homes, upscale boutiques, charming cafés, cornice walkway </p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Marketing & sales, Architecture & design, International operator tendering, Hotel contract management, Financing, Center-management, Construction</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/golden_mile.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb current">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Multiple Luxury Homes</h4>
                           <p class="text-normal"><b>Florida:</b>Coral Gables, Pinecrest, South Miami, Palmetto Bay</p><br>
                          <p class="text-normal"><b>Project:</b> 4,000 - 6,500 sq. ft. under A/C, Pool, green space, Metal Framing, LEED Certifyed </p>
                          <p class="text-normal"><b>Services:</b>Development Services, Financial engineering/exit strategy, Sales/marketing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/luxury.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Tiara Residences - Hotel & Resort</h4>
                          <p class="text-normal"><b>Project:</b>Luxury condominiums -426 Units, Palm Anantara- 6-star resort hotel- 180 Units, Luxurious apartments and penthouses, Themed restaurants and bars, Large lagoon – shaped swimming pools, Various sports facilities, Extensive health & spa – club</p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Marketing & sales, Architecture & design, International operator tendering, Hotel contract management, Financing, Center-management, Construction</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tiara.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Assisted Living and Independant Living Facilities</h4>
                          <p class="text-normal"><b>Project:</b>2,500 unit- Assistant Living and Independent Living Facilities, Adjacent medical centres, 420,000 sq. ft. of commercial space, Waterways and green space, Parking</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Feasibility study, Financial engineering/exit strategy, Sales/marketing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/alf.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Fujariah Beach Resort</h4>
                          <p class="text-normal"><b>Project:</b> 6* Deluxe Hotel, 100 Suites, 5* Ocean Reef Hotel, 300 Rooms, 5* Villa Suites Hotel, 250 Units, 428 Villas, 80 Marina townhouses</p>
                          <p class="text-normal"><b>Services:</b> Feasibility study, Tourism master plan,   External/internal infrastructure, CAD,   Financial engineering concept, Center management, Destination management, Tender int. hotel-management companies</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/fujariah.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          


                <li class="item thumb current">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Big Fish Restaurant, Miami River</h4>
                          <p class="text-normal"><b>Project:</b>Watwerfront Restaurant, 175 outdoor seating,  Docking</p>
                          <p><i> Awarded 2006 International Achievement Award for "Exceptional Design and Construction</i></p>
                          <p class="text-normal"><b>Services:</b>Architectural and Engineering Services,  Construction Services</p>
                        </div>
                     </figcaption>
                      <img src="/assets/images/bigfish.png" alt="">
                    </figure>
                  </a>
                </li> --><!-- /.item -->

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Vicarello Resort </h4>
                          <p class="text-normal"><b>Project:</b>5* Boutique hotel, 56 suites, 21 Apartments,   Restaurants, bars, trattoria, Meeting, Banquet Facilities, Library, club-rooms, Health/Spa/Wellness Centre, Tennis courts, Historic chapel</p>
                          <p class="text-normal"><b>Services:</b>  General development, Feasibility study,  Financial placement, Tender international hotel-management companies, 2 years Facility management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/resort.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Intercontinental Cologne</h4>
                          <p class="text-normal"><b>Project:</b> 5* Deluxe hotel, 280 rooms/suites, Restaurants/bars/outlets, Conference/banquet facilities,   Ballroom</p>
                          <p class="text-normal"><b>Services:</b> Feasibility study, Room and space program,  Planning guidelines, Tender hotel-management companies, Consulting services during construction</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/cologne.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Dream Island Manama</h4>
                          <p class="text-normal"><b>Project:</b>5* Luxury Hotel, 300 rooms & Suites, 250 Villas, townhouses, bungalows,  120 Luxury-apartments, Restaurants, Marina/yacht harbour </p>
                          <p class="text-normal"><b>Services:</b>Feasibility study, Hotel management contracts, Real estate marketing, Centre management, Hotel and resort Consulting</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/dream.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          
                 

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Crane Creek, Melbourne, Florida</h4>
                          <p class="text-normal"><b>Project:</b>180 ALF Residential units, 30,000 sq.ft. Commercial space, Intelligent Building Features, Building wide Internet Wireless,  Fitness centre, Pool/Jacuzzi, Clubroom, Business Centre, Parking, Additional Storage</p>
                          <p class="text-normal"><b>Services:</b> Financial Engineering, Sales/marketing Design, Contract management, Development Services</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/crane.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Riviera Health Resort, Miami</h4>
                          <p class="text-normal"><b>Project:</b>120 ALF Residential units, 30,000 sq.ft. Commercial space, Intelligent Building Features, Building wide Internet Wireless,  Fitness centre, Pool/Jacuzzi, Clubroom, Business Centre, Parking, Additional Storage</p>
                          <p class="text-normal"><b>Services:</b> Contract management, Construction Management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/riviera.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Hilton Garden, Miami</h4>
                          <p class="text-normal"><b>Project:</b>172 Keys- Extended stay features, Intelligent Building Features, Building wide Internet Wireless, Fitness centre, Pool, Clubroom,  Business Centre, Parking, Additional Storage</p>
                          <p class="text-normal"><b>Services:</b>Contract management, Construction Management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/garden.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>4585 Ponce De Leon Boulevard, Miami</h4>
                          <p class="text-normal"><b>Project:</b>125 units residential, 12 stories, Building wide Internet Wireless, Fitness centre, Pool, Clubroom, Business Centre, Parking, Additional Storage</p>
                          <p class="text-normal"><b>Services:</b>Construction Management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/deponce.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>1111 Lincoln, South Beach</h4>
                          <p class="text-normal"><b>Project:</b>70,000 sq. ft. Commercial, One residential Unit, Parking, Additional Storage for Commercial</p>
                          <p class="text-normal"><b>Services:</b>Construction Management</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/1111lincoln.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Regal Cinemas, South Beach</h4>
                          <p class="text-normal"><b>Project:</b>30,000 sq. ft. Commercial, 12 Amphitheatre Cinema, Parking</p>
                          <p class="text-normal"><b>Services:</b> Financial Engineering, Feasibility study, Architectural master plan, Contract management, Sales/ Marketing</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/cinema.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Trans-Highway, Romania</h4>
                          <p class="text-normal"><b>45 Kilometers of 4 lanes Highway through Rugged Terrain (Hills, Valleys, Rivers)</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Feasibility study, Financial engineering/exit strategy</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/highway.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          

                  <li class="item thumb complete">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>3 Waste to Energy Plants - Habrin, Hellonjang and Suva</h4>
                          <p class="text-normal"><b>Project:</b>Harbin- Hellonjiang 1 Unit- 400 T/Day, Suva - Fiji 1 Unit- 230 T/Day</p>
                          <p class="text-normal"><b>Services:</b>Development Services, Engeneering Services, Construction Services, Financial Engineering</p>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/w2e.png" alt="">
                    </figure>
                  </a>
                </li><!-- /.item -->          
                
              </ul><!-- /.items -->    
             </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->        
      </section>
      
      <!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
           
           
    </main>