<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->
    
      <section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url(assets/images/midrise.jpg);">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9">
              <header>
                <h1>Our Services</h1>
                <p>The possibilities with LifeTec's Rapid Cold-Formed Steel Framing Technologies are literally endless, and can contribute to all building applications. Even in projects requiring structural concrete or steel, LifeTec can still generate significant efficiencies for all non-load-bearing and interior walls.</p>
                <p>LifeTec provides a one-stop solution which will take our clients from concept to framing completion, in a fraction of the time currently required. Our state-of-the-art software and CNC printing machinery, virtually removes human error and limitations from the building process, delivering a precise finished product every time.</p>
                <p>Please see below for further details on our services and primary building applications.</p> 
              </header>
            </div><!-- /.col -->
          </div><!-- ./row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->

 <section id="services">
        <div class="container inner">
          <div class="row">
            <div class="col-xs-12">
              <div class="tabs tabs-services tabs-circle-top tab-container">
                
                <ul class="etabs text-center">
                  <li class="tab"><a href="#tab-1">
                    <!-- <div><i class="icon-lamp"></i></div> -->
                  Engineering, Detailing & Planning</a></li>
                  <li class="tab"><a href="#tab-2">
                    <!-- <div><i class="icon-flow-tree"></i></div> -->
                  Residential Homes & Developments </a></li>
                  <li class="tab"><a href="#tab-3">
                    <!-- <div><i class="icon-beaker"></i></div> -->
                  Mid-Rise, Multi-Family & Mixed-Use</a></li>
                  <li class="tab"><a href="#tab-4">
                    <!-- <div><i class="icon-code"></i></div> -->
                  Institutional, Commercial & Industrial</a></li>
                  <li class="tab"><a href="#tab-5">
                    <!-- <div><i class="icon-thumbs-up-1"></i></div> -->
                  Infill for High-Rise & Structural Steel</a></li>
                  <li class="tab"><a href="#tab-6">
                    <!-- <div><i class="icon-megaphone-1"></i></div> -->
                  Affordable / Assisted Housing & Modular</a></li>
                </ul><!-- /.etabs -->
                
                <div class="panel-container">
                  
                  <div class="tab-content" id="tab-1">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                        <figure><img src="assets/images/render.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-6 col-sm-6  inner-left-xs">
                        <h3>Engineering, Detailing & Planning</h3>
                        <p>LifeTec provides comprehensive engineering and detailing services to take you from an architectural design to a framed structure in as little as 6 weeks. Our methodologies are 80% frontloaded to our planning stage, where we build your entire project, stud-by-stud, in a virtual space before it even reaches our manufacturing equipment. Our planning services include:
                        <ol>
                          <li>Structural engineering and detailing.</li>
                          <li>Complete shop drawings stamped for permit applications.</li>
                          <li>Building envelope consulting</li>
                          <li>Installation consulting to achieve lockup after framing is completed.</li>
                        </ol>


                         </p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-2">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs outer-top-xs ">
                        <figure><img src="assets/images/residential.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-right-xs">
                        <h3>Residential Homes & Developments</h3>
                        <p>LifeTec can take any home designed for wood framing and re-engineer it to use our steel as a direct substitute. Our system offers highly versatile design, fast, accurate and cost-efficient production, and installation can be in as little as 25% of the time. Waste is also reduced to virtually nothing; whereas, wood framing typically generates 20%. That means for every four homes built, a fifth could have been constructed from the linear feet of waste if it was built with our system. </p>
                        <p>These efficiencies are then compounded significantly for residential developments, allowing developers to provide a far superior product, while requiring less resources and generating far less headaches and deficiencies.  
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-3">
                 <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs outer-top-sm">
                        <figure><img src="assets/images/midrise.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Mid-Rise, Multi-Family & Mixed-Use</h3>
                        <p>LifeTec's system offers an extensive range of benefits for mid-rise construction when directly compared to wood or concrete. Direct material and installation savings over concrete can be up to 40%, while remaining relatively comparable to wood. When compared to both, the time savings and additional downstream logistical efficiencies thoughout the rest of the project are significant, and will ultimately generate sizable savings.</p>
                        <p>In addition, builders can enjoy insurance savings up to 70% over wood framing, while having the peace of mind that the building will not burn down during construction. </p>
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-4">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs outer-sm">
                        <figure><img src="assets/images/commercial2.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs ">
                        <h3>Institutional, Commercial & Industrial</h3>
                        <p>LifeTec's rapid, design-led construction methodologies can help local, provincial and federal governments construct high-quality, economical, institutional buildings quicker and more cost-effectively.</p>
                        <p>Commercial and Industrial buildings can also be constructed more efficiently and cost-effectively than traditional heavy-gauge steel, concrete or wood structures. 
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-5">
                    
                    <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs outer-top-sm">
                        <figure><img src="assets/images/infill.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Infill for High-Rise & Structural Steel</h3>
                        <p>LifeTec's ability to utilize its panels within a 3" Deep Leg Nested Deflection Track, removes the need for timely slotted track installations. This creates enormous time and waste efficiencies, generating 0 waste, and typically installing in 25% of the time when compared to slotted track projects.</p>
                        <p>For high-rise construction, builders will receieve 22 gauge structural steel infill panels, installed for the same price as what they are now paying for flimsy 25 gauge. For other deflection framing projects, builders can feel confident that the cost will not be more than their traditional methods, but their project will be completed in a fraction of the time. 
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                    
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-6">
                    
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs outer-md">
                        <figure><img src="assets/images/modular.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                        <h3>Affordable / Assisted Housing & Modular</h3>
                        <p>LifeTec framing allows for quick and accurate construction at minimized cost, and demand can be met faster than traditional methods. By using a design-led process that facilitates repeatable designs, our construction methodologies are faster, more efficient and produce far less waste than traditional methods.</p>
                        <p>Our framing system provides a high-quality, extremely durable building which will last significantly longer than a wood structure, while still have less environmental impact before and after the building process is complete.</p>
                        <p>LifeTec can also accommodate any modular project. Whether a collection of units to be assembled onsite, worker accommodations or specialized pods, LifeTec can provide time and cost savings for your project.  
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                    
                  </div><!-- /.tab-content -->
                   
                </div><!-- /.panel-container -->
                 
              </div><!-- /.tabs -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

</main>