<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->
    
      <section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url(assets/images/midrise.jpg);">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9">
              <header>
                <h1>Our Services</h1>
                <p>The possibilities with LifeTec's Rapid Cold-Formed Steel Framing Technologies are litterally endless, and can contribute to all building applications. Even in projects requiring strucural concrete or steel, LifeTec can still generate siginficant efficiencies for all non-load-bearing and interior walls.</p>
                <p>LifeTec provides a one-stop solution which will take our clients from concept to framing completion, in a fraction of the time currently required. Our state-of-the-art software and CNC printing machinery, virtually removes human error and limitations from the building process, delivering a precise finished product to the building site everytime.</p>
                <p>Please see below for further details on our services and primary building applications.</p> 
              </header>
            </div><!-- /.col -->
          </div><!-- ./row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – HERO : END ============================================================= -->

 <section id="services">
        <div class="container inner">
          <div class="row">
            <div class="col-xs-12">
              <div class="tabs tabs-services tabs-circle-top tab-container">
                
                <ul class="etabs text-center">
                  <li class="tab"><a href="#tab-1">
                    <!-- <div><i class="icon-lamp"></i></div> -->
                  Engineering & Detailing</a></li>
                  <li class="tab"><a href="#tab-2">
                    <!-- <div><i class="icon-flow-tree"></i></div> -->
                  Residential Homes & Developments </a></li>
                  <li class="tab"><a href="#tab-3">
                    <!-- <div><i class="icon-beaker"></i></div> -->
                  Mid-Rise, Multi-Family & Mixed-Use</a></li>
                  <li class="tab"><a href="#tab-4">
                    <!-- <div><i class="icon-code"></i></div> -->
                  Commercial & Industrial</a></li>
                  <li class="tab"><a href="#tab-5">
                    <!-- <div><i class="icon-thumbs-up-1"></i></div> -->
                  Infill for Highrise & Structural Steel</a></li>
                  <li class="tab"><a href="#tab-6">
                    <!-- <div><i class="icon-megaphone-1"></i></div> -->
                  Afforable / Assisted Housing & Modular</a></li>
                </ul><!-- /.etabs -->
                
                <div class="panel-container">
                  
                  <div class="tab-content" id="tab-1">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                        <figure><img src="assets/images/render.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Engineering & Detailing</h3>
                        <!-- <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-2">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                        <figure><img src="assets/images/residential.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                        <h3>Residential Homes & Developments</h3>
                        <!-- <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-3">
                 <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                        <figure><img src="assets/images/midrise.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Mid-Rise, Mutli-Family & Mixed-Use</h3>
                       <!--  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-4">
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                        <figure><img src="assets/images/commercial2.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                        <h3>Commercial & Industrial</h3>
                        <!-- <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-5">
                    
                    <div class="row">
                      
                      <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                        <figure><img src="assets/images/infill.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                        <h3>Infill for Highrise & Structural Steel</h3>
                        <!-- <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                    
                  </div><!-- /.tab-content -->
                  
                  <div class="tab-content" id="tab-6">
                    
                    <div class="row">
                      
                      <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                        <figure><img src="assets/images/modular.jpg" alt=""></figure>
                      </div><!-- /.col -->
                      
                      <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                        <h3>Afforable / Assisted Housing & Modular</h3>
                        <!-- <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p> -->
                      </div><!-- /.col -->
                      
                    </div><!-- /.row -->
                    
                  </div><!-- /.tab-content -->
                   
                </div><!-- /.panel-container -->
                 
              </div><!-- /.tabs -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

</main>