    <!-- ============================================================= MAIN ============================================================= -->
    
    <main>
      
      <!-- ============================================================= SECTION – SERVICES ============================================================= -->
      
      <section id="who-we-are">
        <div class="container inner-top-sm inner-bottom-sm">
          
         <div class="row">
            <div class="col-md-12 col-sm-9 center-block inner-bottom-sm text-center">
              <header>
                <h1>Complete Services</h1>
                With operations in the Americas, Europe, and Asia, Fortis Groep professionals are experts foremost in Environmental Responsibility, conducted Sustainable Projects, of Highest Quality in many segments of industry applications such as: Construction, Energy, Municipal Solid, Liquid Waste Treatment and Management, Waterways Treatment, Medical, Hospitality, Manufacturing, High Performance Structures Diagnostics, Safety and Environmental Services.
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
            

          <div class="row">            
            <div class="col-md-12 col-sm-9 center-block ">
              
              <div class="col-md-1">
                <div class="icon pull-right">
                  <i class="icon-globe icn"></i>
                </div><!-- /.icon -->
              </div><!-- /.col -->              
              <div class="col-md-3 inner-bottom-xs">           
                <h2>Development</h2>
                <ul class="circled">             
                  <li>Land Planning</li>
                  <li>Permitting and Zoning</li>
                  <li>Project Management</li>
                  <li>Land Development</li>
                  <li>Project Redevelopment</li>
                  <li>Sustainable Focused Planning & Development</li>
                </ul>         
              </div><!-- /.col -->
            
              <div class="row">
                <div class="col-md-12 col-sm-9 center-block ">
                  
                  <div class="col-md-1">
                    <div class="icon pull-right">
                      <i class="icon-attention-1 icn"></i>
                    </div><!-- /.icon -->
                  </div><!-- /.col -->
            
                  <div class="col-md-3 inner-bottom-xs">                         
                    <h2>Risk Management</h2>
                    <ul class="circled">             
                      <li>Identify risk factors</li>
                      <li>characterize threats</li>
                      <li>assess the vulnerability of critical assets</li>
                      <li>calculate value-at risk</li>
                      <li>determine probability of risk occurrence</li>
                      <li>identify mitigation factors</li>
                      <li>prioritize risk reduction measures based on a strategy</li>
                    </ul>         
                  </div><!-- /.col -->

                  <div class="row">
                    <div class="col-md-12 col-sm-9 center-block ">
                      <div class="col-md-1">
                        <div class="icon pull-right">
                          <i class="icon-users icn"></i>
                        </div><!-- /.icon -->
                      </div><!-- /.col -->
            
                      <div class="col-md-3 inner-bottom-xs">               
                      <h2>Government and Client Relations</h2>
                      <ul class="circled">             
                        <li>Media Relations</li>
                        <li>Consensus Building</li>
                        <li>Crisis Communications</li>
                        <li>Image Management</li>
                        <li>NGO Strategies</li>
                        <li>Siting/Land Use Planning</li>
                        <li>Social Media Advocacy</li>
                      </ul>         
                    </div><!-- /.col -->
                  </div>
                </div>
          
                <div class="row">

                  <div class="col-md-12 col-sm-9 center-block ">
                    <div class="col-md-1">
                      <div class="icon pull-right">
                        <i class="icon-pencil-1 icn"></i>
                      </div><!-- /.icon -->
                    </div><!-- /.col -->
            
                    <div class="col-md-3 inner-bottom-xs">                        
                      <h2>Design and Architecture</h2>
                      <ul class="circled">             
                        <li>Site Planning</li>
                        <li>Site Planning</li>
                        <li>Design and Development</li>
                        <li>Construction Documents & Administration</li>
                        <li>Interior Design & Space Planning Ancillary</li>
                        <li>General Design Services</li>
                        <li>Feasibility Studies</li>
                      </ul>         
                    </div><!-- /.col -->
            
                    <div class="row">
                      <div class="col-md-12 col-sm-9 center-block ">
                        <div class="col-md-1">
                          <div class="icon pull-right">
                            <i class="icon-home-1 icn"></i>
                          </div><!-- /.icon -->
                        </div><!-- /.col -->
                        
                        <div class="col-md-3 inner-bottom-xs">                    
                          <h2>Construction</h2>
                          <ul class="circled">             
                            <li>General Contracting</li>
                            <li>Sustainability</li>
                            <li>Building Information Modeling</li>
                            <li>Construction Management</li>
                            <li>Interior Design & Space Planning Ancillary</li>
                            <li>Full Construction Services</li>
                            <li>Capital Improvements</li>
                          </ul>                     
                        </div><!-- /.col -->

                     <div class="row">
                        <div class="col-md-12 col-sm-9 center-block ">
                          <div class="col-md-1">
                            <div class="icon pull-right">
                              <i class="icon-chart-line icn"></i>
                            </div><!-- /.icon -->
                        </div><!-- /.col -->           
                        <div class="col-md-3 inner-bottom-xs">                      
                          <h2>Investment</h2>
                          <ul class="circled">             
                            <li>Acquisition and Disposition</li>
                            <li>Asset Oversight</li>
                            <li>Strategic Planning</li>
                            <li>Equity and Debt Solutions</li>
                            <li>Syndications</li>
                            <li>Tax Planning</li>
                            <li>CJoint Venture</li>
                            <li>Estate Planning</li>
                            <li>Yield Enhancement</li>
                          </ul>                     
                        </div><!-- /.col -->

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-sm-9 center-block ">
                    <div class="col-md-1">
                      <div class="icon pull-right">
                        <i class="icon-chart-bar-1 icn"></i>
                      </div><!-- /.icon -->
                    </div><!-- /.col -->
                    
                    <div class="col-md-3 inner-bottom-xs">           
                      
                         <h2>Asset Management</h2>
                      <ul class="circled">             
                        <li>Property Management</li>
                        <li>Portfolio Management</li>
                        <li>Portfolio Restructuring</li>
                        <li>Financial Management</li>
                        <li>Financial Reporting</li>
                        <li>Asset Enhancement</li>
                      </ul>
                 
                    </div><!-- /.col -->
                    
                    <div class="row">
                    <div class="col-md-12 col-sm-9 center-block ">
                    <div class="col-md-1">
                      <div class="icon pull-right">
                        <i class="icon-check-1 icn"></i>
                      </div><!-- /.icon -->
                    </div><!-- /.col -->
                    
                    <div class="col-md-3 inner-bottom-xs">           
                      
                         <h2>Project Financing</h2>
                      <ul class="circled">             
                        <li>Venture Capital</li>
                        <li>Energy & Commodity Financing</li>
                        <li>Equity Financing</li>
                        <li>Mezzanine Financing</li>
                        <li>Debt Financing</li>
                      </ul>
                 
                    </div><!-- /.col -->

                    <div class="row">
                    <div class="col-md-12 col-sm-9 center-block ">
                    <div class="col-md-1">
                      <div class="icon pull-right">
                        <i class="icon-users-1 icn"></i>
                      </div><!-- /.icon -->
                    </div><!-- /.col -->
                    
                    <div class="col-md-3 inner-bottom-xs">           
                      
                         <h2>Brokerage</h2>
                     <ul class="circled"> 
                        <li>Leasing</li>
                        <li>Investment Sales</li>
                        <li>Buyer and Seller Representation</li>
                        <li>Tenant Representation</li>
                        <li>Marketing</li>
                        <li>Financing</li>
                        <li>Public Relations</li>
                      </ul>
                 
                    </div><!-- /.col -->


         </div>
       </div>


      </div>
    </section>
            
        
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
      
      
      <!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->
      
       <section id="latest-works"  class="light-bg">
        <div class="container inner">

        
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>Some of Our Favourite Projects</h2>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
         
          <div class="row">
            
            <div class="col-sm-6 inner-top-sm">
              <figure>
              
               <div class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/oceana02.png" alt=""></a>
                </div><!-- /.icon-overlay -->

                
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h3><a href="projects">Dukes Oceana Dubai</a></h3>
                  </div><!-- /.info -->
                </figcaption>
                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-6 inner-top-sm">
              <figure>
              
                <div class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/barwa.png" alt=""></a>
                </div><!-- /.icon-overlay -->
                
                <figcaption class="bordered no-top-border">
                  <div class="info">
                    <h3><a href="projects">Barwar Financial District Qatar</a></h3>
                  </div><!-- /.info -->
                </figcaption>
                
              </figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
          <div class="row inner-top-sm">
            <div id="owl-latest-works" class="owl-carousel owl-item-gap">
              
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Deep Water Port El Palenque</h4>
                        
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/palenque.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Fairmont Jumeriah Dubai</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/jumeriah.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
                                      
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Reem Island Abu Dhabi</h4>
                       
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/reem.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
               <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Sustainable Affordable Housing Haiti</h4>
                        <p>Providing needed relief in Haiti while still maintaining a revenue component. </p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/haiti.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Sustainable affordable 1,800 unit housing project for Ministry of Defense Uruguay</h4>
                     
                      </div><!-- /.info -->
                    </figcaption>
                      <img src="/assets/images/uraguay.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Golden Mile Palm Jumeriah</h4>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/golden_mile.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->

              <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Municipal Solid Waste Processing Plant Buenos Aires</h4>
                       
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/buenas.png" alt="">
                  </figure>
                </a>
               </div><!-- /.item -->
                 
                <div class="item">
                <a href="projects">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Multiple Luxury Homes: Florida</h4>
                        <p>Coral Gables, Pinecrest, South Miami, Palmetto Bay</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="/assets/images/luxury.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
                       
            </div><!-- /.owl-carousel -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->
      
      

      
    </main>
    
    <!-- ============================================================= MAIN : END ============================================================= -->