    <!-- ============================================================= MAIN ============================================================= -->
    
    <main>
      
          <section id="plarr" class="light-bg">

      <div class="container">
        <div class="container inner-top inner-bottom">
        
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
             <h1>Apple Homekit Smart Homes</h1>
            </header>
          </div>          
                    
          <div class="row  reset-xs">      

            <div class="col-sm-6 inner-top-xs inner-right-xs">
              <div class="col-sm-12 center-block">
                <div class="video-container inner-top-xs"><br>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/Bbs6F8ArLX4" frameborder="0"></iframe>
                </div>             
              </div><!-- /.col -->
            </div><!-- /.col -->
            
            <div class="col-sm-6 outer-top-xs inner-left-xs border-left">           
              <p>Lifetec will build homes which are fully Apple Homekit integrated. Apple Homekit is a home automation framework for IOS designed to work with compatible accessories and devices in your home.</p>
              <p> 
              Esentially, Homekit allows users to control almost every digital product or device in their home, from window blinds and garage doors, to lights, thermostats, home audio and kitchen accessories. Currently, almost every major manufacturer of home accessories has announced, or is already shipping, Homekit compatible products.            
              </p>
              <p>The adjacent video showcases Tim Cook announcing the new Apple "Home" App and explaining the key features at the 2016 World Wide Developer's Conference in San Fransisco. 
              </p>
            </div><!-- /.col --> 

          </div><!-- /.row -->          
        </div><!-- /.container -->

      </section>

       <section id="Partners">
        <div class="container">
          <div class="container inner-top-xs inner-bottom">
          
                    
         <div class="col-sm-12 inner-top-xs inner-right-xs">
            <header class="border-bottom">
              <h2><center>Useful Links for Apple Homekit and Compatible Smart Home Products</center></h2><br>          
              <ul class="circled"> 
                <li><a href="http://www.apple.com/ca/ios/homekit/" target="_blank"><b>www.apple.com/ca/ios/homekit</b></a></li>  
                <li><a href="http://www2.meethue.com/en-ca/about-hue/what-hue-does/"><b>www2.meethue.com/en-ca/about-hue/what-hue-does</b></a></li> 
                 <li><a href="http://www.wareable.com/smart-home/best-apple-homekit-devices-7868" target="_blank"><b>www.wareable.com/smart-home/best-apple-homekit-devices-7868</b></a></li>   
                <li><a href="https://www.youtube.com/watch?v=A-m1afEEoHo" target="_blank"><b>www.youtube.com/watch?v=A-m1afEEoHo</b></a></li> 
                <li><a href="http://www.cnet.com/products/schlage-sense-bluetooth-deadbolt/" target="_blank"><b>www.cnet.com/products/schlage-sense-bluetooth-deadbolt</b></a></li>        
                <li><a href="http://www.cnet.com/products/lutron-serena-remote-controlled-shades/" target="_blank"><b>www.cnet.com/products/lutron-serena-remote-controlled-shades</b></a></li>   
                <li><a href="http://www.wareable.com/smart-home/best-apple-homekit-devices-7868" target="_blank"><b>www.wareable.com/smart-home/best-apple-homekit-devices-7868</b></a></li>   
              </ul><br><br>
            </header>
            </div>
            </div>
            </div>
            </section>




    </main>
    
    <!-- ============================================================= MAIN : END ============================================================= -->