<main>

<!-- ============================================================= SECTION – SERVICES ============================================================= -->
      
      <section id="services">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Steel is Better Than Wood for Building</h1>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-leaf-1 icn lg"></i>
              </div><!-- /.icon -->
              <h2>Sustainable</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-strong icn lg"></i>
              </div><!-- /.icon -->
              <h2>User Experience</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-beaker icn lg"></i>
              </div><!-- /.icon -->
              <h2>Design</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-code icn lg"></i>
              </div><!-- /.icon -->
              <h2>Technology</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-thumbs-up-1 icn lg"></i>
              </div><!-- /.icon -->
              <h2>Social</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-megaphone-1 icn lg"></i>
              </div><!-- /.icon -->
              <h2>Marketing</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

</main>