<main>

<!-- ============================================================= SECTION – SERVICES ============================================================= -->
      
      <section id="services" class="light-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Steel is the BEST building material</h1>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-recycle icn lg"></i>
              </div><!-- /.icon -->
              <h2>Sustainable</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-measurement icn lg"></i>
              </div><!-- /.icon -->
              <h2>Precise</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
             <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-healthy-home icn lg"></i>
              </div><!-- /.icon -->
              <h2>Healthy</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-feather icn lg"></i>
              </div><!-- /.icon -->
              <h2>Light</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-strong icn lg"></i>
              </div><!-- /.icon -->
              <h2>Strong</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-fast-fw icn lg"></i>
              </div><!-- /.icon -->
              <h2>Fast</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->


          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-bug-free icn lg"></i>
              </div><!-- /.icon -->
              <h2>Bug-Proof</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
           
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
               <i class="icon-no-waste icn lg"></i>
              </div><!-- /.icon -->
              <h2>Not Wasteful</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->

             <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
               <i class="icon-fire-proof icn lg"></i>
              </div><!-- /.icon -->
              <h2>Fireproof</h2>
              <p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->


        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

      <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <section id="Chart"> 
        <div class="container inner-xs  inner-bottom-xs">   
          <div class="row">
             <div class="col-md-8 col-sm-9 center-block text-center">
              <figure>
                <img  src="/assets/images/headtohead.jpg" alt="">
              </figure>
              <br>
              <a href="contact" class="btn btn-large">Get in Touch With Us</a>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

     
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

      

</main>