<main>

<!-- ============================================================= SECTION – SERVICES ============================================================= -->
      
      <section id="services" class="light-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-10 col-sm-9 center-block text-center">
              <header>
                <h1>Steel is the BEST Building Material</h1>
                <p>Sustainability, durability, fire resistance, structural performance and time-effectiveness are some of the most compelling reasons for using light gauge steel in your building project. As a dependable, noncombustible material, steel-framed structures provide a wise investment for builders and the occupants who live in them.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-recycle icn lg"></i>
              </div><!-- /.icon -->
              <h2>Sustainable</h2>
              <p class="text-small">Steel is the most recycled material on the planet, and at the end of a steel framed structure’s lifecycle, 100% of the steel can be recycled. Most steel today in the consumer market contains approximately 25% recycled steel. </p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-measurement icn lg"></i>
              </div><!-- /.icon -->
              <h2>Precise</h2>
              <p class="text-small">As human error is almost entirely mitigated from our process, our structures are printed and installed within a dimensional tolerance of only 0.5mm (1/64 inch). Our structures will not twist, warp, split, bow, or shrink and are perfectly straight, square and plum every time.</p>
            </div><!-- /.col -->
            
             <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-healthy-home icn lg"></i>
              </div><!-- /.icon -->
              <h2>Healthy</h2>
              <p class="text-small">Steel cannot absorb moisture, so it will not rot or grow mold, and it generates no off-gassing throughout its lifecycle. Steel also does not require toxic chemicals to prevent depletion; rather, it utilizes zinc which is also an essentially nutrient for human health.</p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-feather icn lg"></i>
              </div><!-- /.icon -->
              <h2>Light</h2>
              <p class="text-small">A steel structure will be lighter than the comparable structure in wood or concrete. This directly translates into decreased shipping costs and less concrete in foundations. </p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-strong icn lg"></i>
              </div><!-- /.icon -->
              <h2>Strong</h2>
              <p class="text-small">Steel has 3 times the strength to weight ratio of typical framing lumber. Steel is also much more resilient, with reserve strength and ductility that results in significant advantages in extreme conditions such as earthquakes of hurricanes. </p>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-fast-fw icn lg"></i>
              </div><!-- /.icon -->
              <h2>Fast</h2>
              <p class="text-small">As 90% of our process is frontloaded before materials ever reach a building site, our structures are installed in a fraction of the time. A typical home will be erected with a week, also creating a number of downstream efficiencies throughout the entire project. </p>
            </div><!-- /.col -->


          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
                <i class="icon-bug-free icn lg"></i>
              </div><!-- /.icon -->
              <h2>Bug-Proof</h2>
              <p class="text-small">Steel is inorganic, so does not provide a food source for termites. Our structures also provide a much stronger barrier to resist pests and rodents from entering your home. Less termites, pests and rodents, means less requirements for poisoness chemical treatments.  </p>
            </div><!-- /.col -->
            
           
            
            <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
               <i class="icon-no-waste icn lg"></i>
              </div><!-- /.icon -->
              <h2>Not Wasteful</h2>
              <p class="text-small">All of our shearing, punching, and forming is done by state-of-the-art CNC equipment in a controlled manufacturing environment. Our production software strategically prints our panels inline with maximum waste efficiency. With less than 2% waste in this process, and virtually 0% waste onsite, our process is significantly less wasteful than traditional wood framing, which produces an average of 20% waste per build. That's a whole home of waste after only 5 builds. </p>
            </div><!-- /.col -->

             <div class="col-sm-4 inner-bottom-xs">
              <div class="icon">
               <i class="icon-fire-proof icn lg"></i>
              </div><!-- /.icon -->
              <h2>Fireproof</h2>
              <p class="text-small">Steel is a noncombustible material and will not contribute to the spread of a fire. This generates a significant reduction in fire risk to occupants, firefighters, and residents. This can also translate into significant insurance savings for builders and homeowners. </p>
            </div><!-- /.col -->
            
          </div><!-- /.row -->


        </div><!-- /.container -->
      </section>
      
      <!-- ============================================================= SECTION – SERVICES : END ============================================================= -->

      <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
      
      <section id="Chart"> 
        <div class="container inner-sm">   
          <div class="row">
             <div class="col-md-8 col-sm-9 center-block text-center">
              <figure>
                <img  src="/assets/images/h2h.jpg" alt="">
              </figure>
              <br>
              <a href="contact" class="btn btn-large">Get in Touch With Us</a>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

     
      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

      

</main>