
<main>
   <section id="What's Happening">
        <div class="container">
          <div class="container inner-top-xs inner-bottom">
          
                    
         <div class="col-sm-7 inner-top-xs inner-right-xs">
              <header>
                <h2><center>Fortis Groep NV</center></h2>          
                <h3>Our Mission</h3>
                  <p class="text-normal">To provide highest quality services using innovative, advanced, green technological means. Fulfill our objectives by bringing honesty, integrity, and passion into play. Surpass the expectation of our investor-partners, while following the highest of industry standards. Surpass all expectations of our end-user. Be the market leader by staying ahead of the curve, and having integrity at the core of every decision we make. Create win-win situations for both our investor-partners and the communities in which our properties are located.</p>
                <br>

                <h2><center>Our Beginning</center></h2>
                <h3>The Merger</h3>

                <p class="text-normal">Fortis Groep was created by the merger of Concorde Gruppe GmbH and Proserv Impex 94.</p>
                <p class="text-normal"><b>Concorde Gruppe GmbH</b> began its operations in 1994 under the name East, West, South LTD. as a corporate consulting firm advised US and Latin American Corporateion on Issues related to Corporate Finance, Treasury Management, Multi Currency Financing, Asset Liability Management, Real Estate Merchant Banking, Land acquisition and Real Estate Development; in 2001 the company reorganized and recapitalized as a Florida LLC under the name of Compagnie Financière du Conseil D’Investissement. As of January 2002 it expanded its services to include Investment Banking and Asset Management. By the end of the first quarter 2002 the company forged a strategic alliance with World Leisure GmbH in order to develop and advise development on several world projects.</p>
                <p class="text-normal"><b>Proserv Impex 94</b> was open in 1994 as well; main focus of the company was to capitalize on the fastest economic advancement of Eastern European states. First line of business was the importation of construction materials into Romania, Bulgaria and Serbia. Soon after, the principals of the company all engineers with considerable experience in the construction and logistics, were requested to co-develop or build Real Estate and Infrastructure projects in Eastern Europe, Eurasia and North Africa.</p>
                <p class="text-normal">In 2013, Concorde Gruppe GmbH and Proserv Impex 94 decided to merge in order to access larger world projects.</p>
                <br>
                
                <h2><center>Our Guiding Principles</center></h2>
               
                <p class="text-normal">At Fortis Groep, we are dedicated to innovative problem-solving solution to fit specific needs. A clear set of principles and values have allowed us to readily adapt to the constant changes occuring in the market today.Sustainable solutions are our expert advise in todays world where we can achieve maximum results with implementation of newest technologies.</p>
                <br>
                <h3>The Four Principles</h3>
                <p class="text-normal"><b>Independence - </b>We maintain independence from third parties, especially when decisions about suppliers or other vendors need to be made.</p>
               <p class="text-normal"><b>Objectivity - </b>Our decision process takes into account all opportunities and risks.</p>
               <p class="text-normal"><b>Competence - </b>We only act in areas in which we have proven expertise.</p>
               <p class="text-normal"><b>Confidentiality - </b>We treat all the information processed with the utmost confidentiality.</p>
               <br>
              
              </header>
            </div><!-- /.col -->
            
            <div class="col-sm-4  outer-top-xs inner-left-xs border-left">
              <h2><center>News and Events</center></h2><br>
              <h3>Fortis Groep NV alliance with Concept by Us</h3>
              <p>As of June 29, 2016 we proudly announce the strategic alliance with Concept by Us the manufacturers of “POWERSTATION 247” the most technologically advanced, plug and play, “Power management and storage” solution on the market, today. The systems standard size management is 5 kW, 10 kW and 15 kW, with a battery storage of 17.28 kWh. The POWERSTATION 247 is scalable to 100kW, and will be installed as the primary solution for all our projects.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->

            <div class="col-sm-4  outer-top-xs inner-left-xs border-left">
             <h3>Sustainable Structures and Fortis Groep</h3>
              <p>As of June 20, 2015 we proudly announce that Fortis Groep NV and all its subsidiaries and affiliates will only develop sustainable structures, net-zero homes and buildings. The implementation of the program will affect world-wide operations.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->
          
            <div class="col-sm-4  outer-top-xs inner-left-xs border-left">
             <h3>Robert Plarr Joins Fortis Groep</h3>
              <p>As of May 27, 2015 we proudly announce Robert Plarr ppointment to the position of Managing Director Sustainable Structures. Mr. Plarr joins the firm as a full partner and he will direct worldwide effort in sustainability systems. Mr Plarr is joined by his long time associate Adam Good that will serve as a company Vice President. Both of them will be based out of South Florida office.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->

            <div class="col-sm-4  outer-top-xs inner-left-xs border-left">
              <h3>Fortis Groep New Offices Oppened </h3>
              <p>As of February 26, 2014 we proudly announce the opening of our Dubai Office. Our Managing Director Mr. Ertan Bayar will manage the office and be in charge of all activities for the region.</p> 
              <p>We proudly announce the opening of our Middle East and North Africa Headquarters in Istanbul. Our Managing Director Mr. Ertan Bayar will manage the office and be in charge of all activities for the region as well as Western Europe.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->

            <div class="col-sm-4 outer-top-xs inner-left-xs border-left">
             <h3>Integration of Advanced Building Technologies LLC</h3>
               <p>We proudly announce the integration of Advanced Building Technologies LLC in our family of companies, therefore completing the process of vertical integration of services.</p> 
              <p>Advanced Building Technologies LLC manufactures LGS frame systems as well as fire and water resistant, interior and exterior sheering panels. As a result of the use of our innovative final products we proudly announce they are free of pest and mildew.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->

            <div class="col-sm-4  col-sm-offset-7 outer-top-xs inner-left-xs border-left">
             <h3>New Strategic Partner Joins Fortis Groep</h3>
              <p>We proudly announce the Join Venture with Argas S.A. in Buenos Aires for the development of a 1,800 tons per day Municipal Solid Waste total processing plant. Construction is expected to begin in 2014.</p>
              <!-- <a href="story" class="txt-btn">Learn more</a> -->
            </div><!-- /.col -->

        </div><!-- /.container -->
        
      </section>
 
  </main>
          

        
