<header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@lifetechomes.com</a></li>  
             <!--  <li><i class="icon-mobile contact"></i> 310.494.1318</li> -->           
            </ul><!-- /.info -->

            <ul class="social pull-right">
              <li><a href="https://www.facebook.com/LifeTecHomes/" target="_blank"><i class="icon-s-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/lifetechomes/" target="_blank"><i class="icon-s-instagram"></i></a></li> 
              <li><a href="https://www.pinterest.com/lifetechomes/" target="_blank"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="https://twitter.com/lifetechomes" target="_blank"><i class="icon-s-twitter"></i></a></li>           
               <li><a href="https://plus.google.com/u/0/112135806237489482878/posts" target="_blank"><i class="icon-s-gplus"></i></a></li>
            </ul><!-- /.social -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="home"><img src="/assets/images/logo2.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
            </div><!-- /.container -->
              </div><!-- /.navbar-header -->
        
                <div class="yamm">
                  <div class="navbar-collapse collapse align-center">
                    <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
                      <a class="navbar-brand" href="home"><img src="/assets/images/logo2.svg" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
                        <ul class="nav navbar-nav">
                        
                        <li class="dropdown">
                          <a href="sustainable_homes" class="dropdown-toggle js-activated disabled">Sustainable Homes</a>  
                          <ul class="dropdown-menu">
                             <li><a href="#chart" class="scroll-to" data-anchor-offset="0">Overview</a></li>
                            <li><a href="#3zone" class="scroll-to" data-anchor-offset="0">Compartmentalized 3 Zone Design</a></li>
                             <li><a href="#efficiency" class="scroll-to" data-anchor-offset="0">Expanded Building Efficiency Systems</a></li><li><a href="#pos" class="scroll-to" data-anchor-offset="0">Primary Point of Use Systems</a></li>
                             <li><a href="#rain" class="scroll-to" data-anchor-offset="0">Indoor Rainforest Water Recycling Systems</a></li>
                             <li><a href="#plants" class="scroll-to" data-anchor-offset="0">NASA Proven Air Purifying Plants</a></li>
                             <li><a href="#materials" class="scroll-to" data-anchor-offset="0">Primary Materials</a></li>
                             <li><a href="#components" class="scroll-to" data-anchor-offset="0">Key Components</a></li>
                             <li><a href="#appliances" class="scroll-to" data-anchor-offset="0">Energy Efficient Appliances</a></li>    
                          </ul>           
                        </li><!-- /.dropdown
                                         -->
                       
                        <li class="dropdown">
                          <a href="smart" class="dropdown-toggle js-activated disabled">Smart Technologies</a>
                        </li><!-- /.dropdown
                                         -->

                         <li class="dropdown">
                          <a href="plarr" class="dropdown-toggle js-activated disabled">Robert Plarr</a>
                        </li>

                        <li class="dropdown">
                          <a href="team" class="dropdown-toggle js-activated disabled">Our People</a>
                        </li><!-- /.dropdown -->
                        
                        
                        <li class="dropdown">
                          <a href="partners" class="dropdown-toggle js-activated disabled">Our Partners</a>
                        </li><!-- /.dropdown -->
                        
                       
                      <li class="dropdown">
                          <a href="contact" class="dropdown-toggle js-activated disabled">Contact Us</a>
                        </li><!-- /.dropdown -->
                      
                       
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>

<main>
   <section id="chart" class="light-bg">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h1>Plarss Sustainable Structures Overview</h1>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/house_chart.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="3zone">
        <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Compartmentalized 3 Zone Design</h2>
          </header>                      
          <div class="row">
             <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/3zone.jpg" alt="">
              </figure>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>

      <section id="efficiency" class="light-bg">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Expanded Building Efficiency Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/efficiency.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="pos">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Primary Point of Use Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/pos.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

       <section id="food" class="light-bg">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Indoor Food Growth Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/drip.jpg" alt="">
              </figure>
            </div>
          </div>
      </section>

      <section id="rain">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Indoor Rainforest Water Recycling Systems</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/rain.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="plants" class="light-bg">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>NASA Proven Air Purifying Plants</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/plants.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

       <section id="materials">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Primary Structural Materials</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/features.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="components" class="light-bg">
       <div class="container inner-top text-center inner-bottom">   
          <header>
            <h2>Key Structural Components</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/components.jpg" alt="">
              </figure>
            </div><!-- /.col -->
          </div><!-- /.row -->
      </section>

      <section id="appliances">
        <div class="container inner-top-xs text-center inner-bottom">   
          <header>
            <h2>Energy Efficient Appliances</h2>
          </header>                      
          <div class="row">
            <div class="col-sm-12 inner-top-xs">
              <figure>
                <img class="border" src="/assets/images/appliances.jpg" alt="">
              </figure>
            </div><!-- /.col -->
        </div><!-- /.row -->
      </section>


  

    

      <section id="get-in-touch" class="light-bg">
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Want to Know More?</h1>
                <p>The Rollout of Sustainable Homes and Communities in 2017 represents a new segment and focus for Lifetec Homes. Utilizing decades of experience in sustainable structures and living, Lifetec Homes is fully dedicated to creating and providing the most advanced healthy buildings and communities in the world. Please contact us for more information.</p>
              </header>
              <a href="contact.html" class="btn btn-large">Get in Touch With Us</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
 
  </main>