   
    <main>   
      
      <section id="team" class="light-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-10 center-block text-center">
              <header>
                <h1>The People that Make it All Happen</h1>               
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">

          <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/alex.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->
                <figcaption>                
                  <h2>
                   Alex Taranu
                    <span>President</span>
                  </h2>                  
                  <blockquote>Thirty years experience in Real Estate  Development, Financial Engineering and Structuring, in RE Merchant Banking, Multi Currency Financing, Risk and Portfolio Management. Alex Taranu holds an MBA from University of Miami and a BA in Financial Economics from Florida International University.</blockquote> 
                </figcaption>
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/bill.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                     William Parsons
                    <span>Managing Director Operations</span>
                  </h2>                  
                  <blockquote>Forty Years in construction and engineering, composite materials, metal structures, insulating, fire proofing and cladding systems. Bill Parsons holds a degree in Civil Engineering from University of Hawaii.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/robert.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Robert Plarr
                    <span>Managing Director Sustainable Structures</span>
                  </h2>                  
                  <blockquote>Fifty years of funding, building, researching, and living in fully sustainable structures. Co-owner of worlds first green amusement park and water park. After serving over 1 million customers per year, sold for $48 Million in 1992. Inventor of the Science of Sustainable Integration P.l.A.R.S.S. living green structure systems. Mr Plarr joined the Marines in 1969 & served in the elite unit third Marine recon.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->            
          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/jj.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                     JJ Haberkorn 
                    <span>Chief of Development & Design</span>
                  </h2>                  
                  <blockquote>Thirty-five years experience in architecture, urban and regional planning, designing and construction project management including sustainability of construction materials and systems. South American Ambassador for the International Energy Green Council. Mr. Haberkorn has a BA in Architecture and a Masters Degree in Urban and Regional Planning from University of Florida.</blockquote>                       
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/ertan.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>
                  <h2>
                    Ertan Bayar
                    <span>Managing Director Asia & Middle East</span>
                  </h2>                  
                  <blockquote>Thirty-five years experience in Executive Management, Finance, Engineering and Marketing and Business Development. Ertan Bayar holds an Engineering degree  from University of Munich and a Masters in Economics from London School of Economics.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/george.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                     George Panarites
                    <span>Senior Vice President Construction World-Wide</span>
                  </h2>                  
                  <blockquote>Forty years experience in RE Development, RE Merchant Banking, Deal Structuring, Financial Syndication and Management. George Panarites holds a MBA from Harvard University and a BA in Finance from NYU</blockquote>
                </figcaption>                                             
              </figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->

          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/adam.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Adam Good
                    <span>Managing Director Sustainable Structures</span>
                  </h2>                  
                  <blockquote>Twenty years of hands on experience in Research, Engineering, Construction and Implemenataion of Sustainable Systems.</blockquote>                       
                </figcaption>
              </figure>
            </div><!-- /.col -->   
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/mckinley.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  McKinley Hlady
                    <span>Managing Director Business Development World-Wide</span>
                  </h2>                  
                  <blockquote>Twenty-five year history working in facets of Media, Real Estate, and Oil industries. With a new focus purely on sustainable energy project developments, McKinley brings his intense passion, work ethic, and vast network of personal and professional relationships to the Fortis team.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/darin.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Darin Olien
                    <span>Senior Vice President California</span>
                  </h2>                  
                  <blockquote>With twenty years of global travelling, and as a widely recognized herbal hunter, supplement formulator, author and environmental activator, Darin brings his renowned authority on health principles to focus on the growth of this most advanced life-giving home technology and expansion with the Fortis team.</blockquote>                                                   
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->

          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/krish.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Krishna Jolliffe
                    <span>Director of Operations Canada</span>
                  </h2>                           
                  <blockquote>Twenty years Business Development experience in the Construction, Real Estate, Marketing and Tech industries. Krishna holds a BCom in Entrepreneurial Management from the Eric C. Douglas Center for Entrepreneurial Studies at Royal Roads University.</blockquote>                       
                </figcaption>
              </figure>
            </div><!-- /.col -->   
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/daniel.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Daniel Byrne
                    <span>Director of Development Canada</span>
                  </h2>                  
                  <blockquote>Over a decade experience in high-level Construction Management, with his last 5 years spent as a Superintendant of the largest civil construction company in Fort MacMurray. Daniel holds a BSc in Economics from the University of Victoria.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/galarza.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Robert Galarza
                    <span>General Counsel</span>
                  </h2>                  
                  <blockquote>Nearly twenty years experience in negotiations, corporate management, private and public financial markets, software development, and emerging industries. Robert holds a BSc in Advertising from the University of Texas at Austin and a Doctorate of Judisprudence from St. Mary's University College of Law.</blockquote>                                                   
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
          </div><!-- /.row -->

          <div class="row text-center">
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/christian.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Christian Michaels
                    <span>Vice President Southern Califonia</span>
                  </h2>                  
                  <blockquote>A leading authority in Health & Wellness as a Wholistic Practitioner for 25 years. Also has 15 years experience in Construction and Real Estate through family business in Atlanta, Georgia. Christian holds a degree in Behavioral Psychology and Hypnotherapy From University Of Georgia.</blockquote>                
                </figcaption>                
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/luciano.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                   Luciano Pascu
                    <span>Executive Vice-President</span>
                  </h2>                  
                  <blockquote>Thirty years Executive experience RE Development, Engineering, Construction, Gaming, Entertainment and Hospitality .Mr. Pascu holds a Masters in Engineering from University of Bucharest.</blockquote>                        
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="row text-center">
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/irina.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Irina Stanislav
                    <span>Vice President Sales West Coast U.S.</span>
                  </h2>                  
                  <blockquote>Thirty years in Real Estate Investments and Consultancy working with Institutional and private investors in the South West U.S. Ms. Stanislav is fluent in Romanian, Hungarian and English and business language knowledge in Italian and Spanish.</blockquote>                
                </figcaption>                
              </figure>
            </div><!-- /.col -->           
            
          </div><!-- /.row -->

          <div class="row text-center">

            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/bogdan.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                   Bogdan Marinkovich
                    <span>Senior Vice President Design</span>
                  </h2>                  
                  <blockquote>Mr. Marinkovich is Civil Engineer graduated in the Universidad De Carabobo in Valencia, Venezuela with a Master in Civil and Computer Engineering. Bob has twenty-five years experience in engineering, project design and developments, BIM, optimal building operation systems and computer networks.
                  </blockquote>                        
                </figcaption>                
              </figure>
            </div><!-- /.col -->      
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/valeria.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Valeria Von Sperling
                    <span>Senior Vice President Sales Southeast U.S.</span>
                  </h2>                  
                  <blockquote>Thirty years working with legal matters in Brazil and as a real estate broker in the US, experienced in public relations, real estate investments and financing, construction and business development. Valeria is multilingual and has several years of experience in the South Florida market commercial and residential properties and business opportunities.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/mylena.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                   Mylena Camargo
                    <span>Vice President Public Realtions</span>
                  </h2>                  
                  <blockquote>Twenty years experience in public relations with diplomatic and governmental entities, working directly with high level Officials in Brazil. Mylena Camargo has a graduate degree in psycology and has worked at Einstein Hospital in Sao Paulo for several years.</blockquote>                        
                </figcaption>                
              </figure>
            </div><!-- /.col -->           
           
          </div><!-- /.row -->

          <div class="row text-center">

          <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/dragos.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                     Dragos Carp
                    <span>Vice President Manufacturing & Construction Europe</span>
                  </h2>                  
                  <blockquote>Ten years experience in Light Gauge Steel construction, and all adjacent innovative solutions. Mr. Carp expertise spans from the procurement of LGS SYstems to the operation of manufacturing facility to the complete installation at construction site. Dragos Carp is a Masters graduate in Mechanical Engineering from University of Bucharest.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col --> 
         
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/santiago.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Santiago Carradori
                    <span>Executive Vice President Cono Sur</span>
                  </h2>                  
                  <blockquote>Thirty-five years experience logistics, Real Estate and Infrastructure Development . Santiago Carradori holds a Doctorate in Mechanical Engineering from the University of Buenos Aires.</blockquote>                     
                </figcaption>                
              </figure>
            </div><!-- /.col -->


            
          </div><!-- /.row -->                     
        </div><!-- /.container -->
      </section>
     
    </main>
    
 