   
    <main>   
      
      <section id="team" class="light-bg">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-10 center-block text-center">
              <header>
                <h1>The Key People that Make it Happen</h1>               
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm text-center">

          <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/krish.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Krishna Jolliffe
                    <span>Chief Executive Officer</span>
                  </h2>                           
                  <blockquote>Twenty years Business Development experience in the Construction, Real Estate, Marketing and Tech industries. Krishna holds a BCom in Entrepreneurial Management from the Eric C. Douglas Center for Entrepreneurial Studies at Royal Roads University.</blockquote>                       
                </figcaption>
              </figure>
            </div><!-- /.col -->   
            
           <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/mckinley.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  McKinley Hlady
                    <span>President</span>
                  </h2>                  
                  <blockquote>Twenty-five year history working in facets of Media, Real Estate, and Oil industries. With a new focus purely on sustainable energy project developments, McKinley brings his intense passion, work ethic, and vast network of personal and professional relationships to the LifeTec team.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/daniel.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Daniel Byrne
                    <span>Chief Operations Officer</span>
                  </h2>                  
                  <blockquote>Over a decade experience in high-level Construction Management, with his last 5 years spent as a Superintendant of the largest civil construction company in Fort MacMurray. Daniel holds a BSc in Economics from the University of Victoria.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->
    
          </div><!-- /.row -->
          
          <div class="row text-center">
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/robert.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Robert Plarr
                    <span>Senior Consultant - Sustainable Systems</span>
                  </h2>                  
                  <blockquote>Fifty years of funding, building, researching, and living in fully sustainable structures. Co-owner of worlds first green amusement park and water park. After serving over 1 million customers per year, sold for $48 Million in 1992. Inventor of the Science of Sustainable Integration P.l.A.R.S.S. living green structure systems. Mr Plarr joined the Marines in 1969 & served in the elite unit third Marine recon.</blockquote>
                </figcaption>                
              </figure>
            </div><!-- /.col -->            
        
            
            <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">                
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/adam.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                    Adam Good
                    <span>Senior Consultant - Sustainable Structures</span>
                  </h2>                  
                  <blockquote>Twenty years of hands on experience in Research, Engineering, Construction and Implemenataion of Sustainable Systems.</blockquote>                       
                </figcaption>
              </figure>
            </div><!-- /.col -->   
            
           <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
              <figure class="member">
                <div class="icon-overlay icn-link">
                  <a><img src="/assets/images/galarza.png" class="img-circle"></a>
                </div><!-- /.icon-overlay -->                
                <figcaption>                
                  <h2>
                  Robert Galarza
                    <span>General Counsel</span>
                  </h2>                  
                  <blockquote>Nearly twenty years experience in negotiations, corporate management, private and public financial markets, software development, and emerging industries. Robert holds a BSc in Advertising from the University of Texas at Austin and a Doctorate of Judisprudence from St. Mary's University College of Law.</blockquote>                                                   
                </figcaption>                
              </figure>
            </div><!-- /.col -->
            
          
      </section>
     
    </main>
    
 