<html lang="en">

    <footer class="dark-bg">
    
      
      <div class="footer-bottom">
        <div class="container inner">
          <p class="pull-left">© 2017 LifeTec Construction Group Inc. all rights reserved.</p>
          <ul class="footer-menu pull-right">
            <li><a href="home">Home</a></li>
            <li><a href="steel">Why Steel</a></li>
        <!--     <li><a href="services">Our Services</a></li> -->
            <li><a href="team">Our People</a></li>
           <!--  <li><a href="faq ">FAQ</a></li> -->
            <!-- <li><a href="partners">Partners</a></li> -->     
            <li><a href="contact.html">Contact</a></li>
          </ul><!-- .footer-menu -->
        </div><!-- .container -->        
      </div><!-- .footer-bottom -->
      
    </footer>
  </html>