<html lang="en">

    <footer class="dark-bg">
      <div class="container inner">
        <div class="row">
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Who we are</h4>           
            <p>Fortis Groep NV is a vertically integrated leader in real estate infrastructure and sustainable energy development; operating in 15 countries world-wide, with an excellent track record of past and current project volume in excess of $8.6 billion USD.</p>
            <a href="story" class="txt-btn">More about us</a>
          </div><!-- /.col -->
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Latest works</h4>  

              <div class="row thumbs gap-xs">
                <div class="col-xs-6 thumb">
                  <figure class="icon-overlay icn-link">
                    <a href="projects"><img src="/assets/images/palenque.png" alt=""></a>
                  </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/haiti.png" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/luxury.png" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="projects"><img src="/assets/images/uraguay.png" alt=""></a>
                </figure>
              </div><!-- /.thumb -->
              
            </div><!-- /.row -->
          </div><!-- /.col -->          
          
          <div class="col-md-3 col-sm-6 inner">
            <h4>Miami Offices</h4>
            <ul class="contacts">
              <li><i class="icon-location contact"></i> Suite 147, 1825 Ponce De Leon Blvd, Coral Gables, Florida 33134</li>
              <li><i class="icon-mobile contact"></i> +1 (917) 830-5602</li>
              <li><i class="icon-mail-1 contact"></i> info@fortisg.com</li>
            </ul><!-- /.contacts -->
          </div><!-- /.col -->

          <div class="col-md-3 col-sm-6 inner">
            <h4>Europen Headquarters</h4>          
            <ul class="contacts">
               <li><i class="icon-location contact"></i> Niemaate 6, D-48599 Gronau<, Westfalen, Germany/li>
              <li><i class="icon-mobile contact"></i> +49(0)25-62 99 24-153</li>
              <li><i class="icon-mail-1 contact"></i> ec@fortisg.com</li>
            </ul><!-- /.contacts -->
          </div><!-- /.col -->
          
        </div><!-- /.row --> 
      </div><!-- .container -->
      
      <div class="footer-bottom">
        <div class="container inner">
          <p class="pull-left">© 2015 Fortis Groep NV. All rights reserved.</p>
          <ul class="footer-menu pull-right">
            <li><a href="home">Home</a></li>
            <li><a href="plarrs">PARRS</a></li>
            <li><a href="story">Story</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="team">Team</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="partners">Partners</a></li>     
            <li><a href="contact.html">Contact</a></li>
          </ul><!-- .footer-menu -->
        </div><!-- .container -->        
      </div><!-- .footer-bottom -->
      
    </footer>
  </html>