<!DOCTYPE html>

<html lang="en">
   <header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@lifetechomes.com</a></li>  
             <!--  <li><i class="icon-mobile contact"></i> 310.494.1318</li> -->           
            </ul><!-- /.info -->

            <ul class="social pull-right">
              <li><a href="https://www.facebook.com/LifeTecHomes/"><i class="icon-s-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/lifetechomes/"><i class="icon-s-instagram"></i></a></li>   
              <li><a href="https://www.pinterest.com/lifetechomes/"><i class="icon-s-pinterest"></i></a></li>          
              <li><a href="https://twitter.com/lifetechomes"><i class="icon-s-twitter"></i></a></li>              
               <li><a href="https://plus.google.com/u/0/112135806237489482878/posts"><i class="icon-s-gplus"></i></a></li>
            </ul><!-- /.social -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="home"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
            </div><!-- /.container -->
              </div><!-- /.navbar-header -->
        
                <div class="yamm">
                  <div class="navbar-collapse collapse">
                    <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
                      <a class="navbar-brand" href="home"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
                        <ul class="nav navbar-nav pull-right">
                        
                        <li class="dropdown">
                          <a href="sustainable_homes" class="dropdown-toggle js-activated disabled">Sustainable Homes</a>  
                          <ul class="dropdown-menu">
                             <li><a href="sustainable_homes#chart" class="scroll-to" data-anchor-offset="0">Overview</a></li>
                            <li><a href="sustainable_homes#3zone" class="scroll-to" data-anchor-offset="0">Compartmentalized 3 Zone Design</a></li>
                             <li><a href="sustainable_homes#efficiency" class="scroll-to" data-anchor-offset="0">Expanded Building Efficiency Systems</a></li><li><a href="sustainable_homes#pos" class="scroll-to" data-anchor-offset="0">Primary Point of Use Systems</a></li>
                             <li><a href="sustainable_homes#rain" class="scroll-to" data-anchor-offset="0">Indoor Rainforest Water Recycling Systems</a></li>
                             <li><a href="sustainable_homes#plants" class="scroll-to" data-anchor-offset="0">NASA Proven Air Purifying Plants</a></li>
                             <li><a href="sustainable_homes#materials" class="scroll-to" data-anchor-offset="0">Primary Materials</a></li>
                             <li><a href="sustainable_homes#components" class="scroll-to" data-anchor-offset="0">Key Components</a></li>
                             <li><a href="sustainable_homes#appliances" class="scroll-to" data-anchor-offset="0">Energy Efficient Appliances</a></li>    
                          </ul>           
                        </li><!-- /.dropdown
                                         -->
                       
                        <li class="dropdown">
                          <a href="smart" class="dropdown-toggle js-activated disabled">Smart Technologies</a>
                        </li><!-- /.dropdown
                                         -->

                         <li class="dropdown">
                          <a href="plarr" class="dropdown-toggle js-activated disabled">Robert Plarr</a>
                        </li>

                        <li class="dropdown">
                          <a href="team" class="dropdown-toggle js-activated disabled">Our Team</a>
                        </li><!-- /.dropdown -->
                        
                        
                        <li class="dropdown">
                          <a href="partners" class="dropdown-toggle js-activated disabled">Our Partners</a>
                        </li><!-- /.dropdown -->
                        
                       
                      <li class="dropdown">
                          <a href="contact" class="dropdown-toggle js-activated disabled">Contact Us</a>
                        </li><!-- /.dropdown -->
                      
                       
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>
  </html>