<!DOCTYPE html>

<html lang="en">
   <header>
      <div class="navbar">
        
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i> info@fortisg.com</a></li>             
            </ul><!-- /.info -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="home"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
            </div><!-- /.container -->
              </div><!-- /.navbar-header -->
        
                <div class="yamm">
                  <div class="navbar-collapse collapse">
                    <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
                      <a class="navbar-brand" href="home"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
                        <ul class="nav navbar-nav text-center">
                        
                        <li class="dropdown">
                          <a href="plarrs" class="dropdown-toggle js-activated disabled">Sustainable Structures</a>             
                        </li><!-- /.dropdown
                                         -->
                       <!--  <li class="dropdown">
                          <a href="story" class="dropdown-toggle js-activated disabled">Our Story</a>
                        </li> --><!-- /.dropdown -->
                                        
                        <li class="dropdown">
                          <a href="services" class="dropdown-toggle js-activated disabled">Our Services</a>
                        </li><!-- /.dropdown -->


                        <li class="dropdown">
                          <a href="team" class="dropdown-toggle js-activated disabled">Our Team</a>
                        </li><!-- /.dropdown -->
                        
                        <!-- <li class="dropdown">
                          <a href="projects" class="dropdown-toggle js-activated disabled">Our Projects</a>
                        </li> --><!-- /.dropdown -->
                        
                        <li class="dropdown">
                          <a href="partners" class="dropdown-toggle js-activated disabled">Our Partners</a>
                        </li><!-- /.dropdown -->
                        
                       
                      <li class="dropdown">
                          <a href="contact" class="dropdown-toggle js-activated disabled">Contact Us</a>
                        </li><!-- /.dropdown -->
                      
                       
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>
  </html>